.zj_about_banner{
    background: url("../images/7_slices/banner.jpg") no-repeat;
    background-size: 100% 100%;
    height: 244px;
}
.zj_about_banner .word{
    width: 1200px;
    margin: 0 auto;
}
.zj_about_banner .word span{
    width: 100%;
    display: block;
}
.zj_about_banner .word span:first-child{
    font-size:36px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    margin-top: 58px;
}
.zj_about_banner .word span:last-child{
    font-size:48px;
    font-family:ArialMT;
    font-weight:bold;
    color:rgba(255,255,255,1);
}
.zj_about_description{
    margin: 0 auto;
    width: 1200px;
}
.zj_about_description .title{
    text-align: center;
    font-size:36px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(26,26,26,1);
    margin-top: 127px;
    margin-bottom: 103px;
    position: relative;
}
.zj_about_description .title .en{
    position: absolute;
    width: 330px;
    left:50%;
    margin-left: -165px;
    bottom: -10px;
    background: url("../images/7_slices/cd.png") no-repeat;
    background-size: 100% 100%;
    height: 28px;
}
.zj_about_description .box{
    position: relative;
}
.zj_about_description .box img{
    width: 518px;
    height:378px;
}
.zj_about_description .box span{
    width:734px;
    height:275px;
    background:rgba(255,255,255,1);
    box-shadow:0px 3px 29px 0px rgba(4,0,0,0.09);
    font-size:18px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(26,26,26,1);
    display: block;
    position: absolute;
    right: 0;
    top:50%;
    margin-top:-137px;
    padding:77px 10px 0 20px;
}
.zj_about_description .list{
    margin-top: 110px;
}
.zj_about_description .list ul li{
    float:left;
    width:400px;
    height:358px;
    background:rgba(240,240,240,1);
}
.zj_about_description .list ul li:nth-child(2){
    background:rgba(248,248,248,1);
}
.zj_about_description .list ul li img{
    width:82px;
    height:112px;
    margin:48px auto 0;
    display: block;
}
.zj_about_description .list ul li span{
    width:100%;
    display: block;
    text-align: center;
}
.zj_about_description .list ul li span.t{
    font-size:36px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(26,26,26,1);
    margin-top:36px;
}
.zj_about_description .list ul li span.r{
    margin-top: 30px;
    font-size:18px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(26,26,26,1);
}
.zj_about_licheng{
    background: url("https://zhenjia002.oss-cn-beijing.aliyuncs.com/zhenjia/upload/image/20190307/1551941545439357.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 180px;
    height: 720px;
}
.zj_about_licheng .content_lc{
    width:1200px;
    margin: 0 auto;
    overflow: hidden;
}
.zj_about_licheng .content_lc .title{
    margin-top:113px;
    font-size:36px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(255,255,255,1);
    text-align: center;
    position: relative;
}
.zj_about_licheng .content_lc .title .en{
    width:418px;
    height:28px;
    position: absolute;
    left:50%;
    margin-left: -209px;
    bottom:-5px;
    background: url("../images/7_slices/d.png") no-repeat;
}
.zj_about_licheng .content_lc .box{
    height: 288px;
    width: 1200px;
    overflow: hidden;
    margin-bottom: 100px;
    margin-top: 144px;
    position: relative;
}
.zj_about_licheng .content_lc .box .list ul li{
    width: 300px;
    position: relative;
    float:left;
    line-height: 72px;
    text-align: center;
    position: relative;
    color:black;
    height: 72px;
}
.zj_about_licheng .content_lc .box .list ul li .t{
    width: 72px;
    height: 72px;
    background: url("../images/7_slices/c.png") no-repeat;
    position: absolute;
    left:50%;
    margin-left: -36px;
    bottom: 0;
    cursor: pointer;
}
.zj_about_licheng .content_lc .box .list ul li .t .tip{
    display:none;
    width: 300px;
    height: 195px;
    position: absolute;
    left:50%;
    margin-left: -150px;
    top:-216px;
    background:url("../images/7_slices/tp.png") no-repeat;
    background-size: 100% 100%;
    border-radius:5px;
    font-size:14px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color: white;
    padding: 49px 20px 0 20px;
    line-height: 26px;
    text-align: left;
}
.zj_about_licheng .content_lc .box .list ul li .t:hover .tip{
    /*display: block;*/
}
.zj_about_licheng .content_lc .box .list{
    position: absolute;
    height: 72px;
    bottom:0;
}
.zj_about_licheng .content_lc .box a{
    width: 22px;
    height:36px;
    display: block;
    border:none;
    bottom: 18px;
}
.zj_about_licheng .content_lc .box .left{
    background: url("../images/7_slices/left.png") no-repeat;
    position: absolute;
    left:0;
}
.zj_about_licheng .content_lc .box .right{
    background: url("../images/7_slices/right.png") no-repeat;
    position: absolute;
    right:0;
}
#mybtns a:hover,
#myscroll,
#mybtns a,
#myscroll a:hover .intro,
#myscroll a .intro,
#myscroll #myscrollbox{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}
#myscrollbox .tip{
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}
.zj_about_map{
    margin: 0 auto;
    width: 1202px;
}
.zj_about_map .title{
    margin-top:88px;
    text-align: center;
    position: relative;
    font-size:36px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(26,26,26,1);
}
.zj_about_map .title .en{
    width: 224px;
    height:28px;
    position: absolute;
    left:50%;
    margin-left: -112px;
    top: 28px;
    background: url("../images/7_slices/contact.png") no-repeat;
    background-size: 100% 100%;
}
.zj_about_map .list{
    margin-top: 96px;
    height: 148px;
}
.zj_about_map  .list ul li{
    float:left;
    width: 400px;
}
.zj_about_map  .list ul li img{
    width: 34px;
    height:36px;
    margin: 0 auto;
    display: block;
}
.zj_about_map  .list ul li span{
    display: block;
    width: 100%;
    text-align: center;
}
.zj_about_map  .list ul li.lineli{
    width: 1px;
    height: 115px;
    background-color: rgba(191,191,191,0.6);
    margin-top: 20px;
}
.zj_about_map  .list ul li span:nth-child(2){
    font-size:18px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(26,26,26,1);
    margin-top: 19px;
}
.zj_about_map  .list ul li span:last-child{
    margin-top: 23px;
    font-size:18px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(26,26,26,1);
}
.map{
    /*margin-top: 48px;*/
    width: 1202px;
    height: 500px;
    margin: 48px auto 0;
}
.title span{
    position: relative;
    z-index: 999;
}

/*媒体查询*/
@media screen and (max-width: 980px) {
    .img-list img{
        width: 100%;
        height: auto;
    }
    .zj_mobile_licheng{
        width: 100%;
        height: 200px;
        background: url(../m-images/about/bg.png) no-repeat;
        background-size: 100% 100%;
        padding: 10px 0;
    }
    .zj_mobile_licheng h3{
        font-size: 20px;
        position: relative;
        font-weight: bold;
        /* margin-top: 0%; */
        margin-bottom: 20px;
        font-family: MicrosoftYaHei-Bold;
        color: rgba(255,255,255,1);
        text-align: center;
    }
    .m_piaofu_about_bg0{
        position: absolute;
        background: url(../m-images/about/history.png) no-repeat;
        background-size: 100% 100%;
        width: 220px;
        height: 16px;
        top: 11px;
        left: 50%;
        margin-left: -110px;
    }
    .zj_mobile_licheng .list{
        width: 90%;
        height: 30px;
        /*margin-top: 20px;*/
        /*border: 1px solid #fff;*/
        margin: 20px auto;
        padding-left: 30px;
        margin-top: 70px;
        background: url("../m-images/about/touming.png") no-repeat;
        background-size: 100% 4px;
        background-position: 0 3px;
    }
    .zj_mobile_licheng .list ul li{
        width: 16.66%;
        float: left;
        height: 30px;
    }
    .zj_mobile_licheng .list ul li .t .tip{
        display: none;
        width: 310px;
        position: absolute;
        top:30px;
        background-color:rgba(248,248,248,0.36);
        border-radius:1px;
        padding: 10px;
        left:-30px;
    }
    .zj_mobile_licheng .list ul li .t .sj{
        content: '';
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 14px solid rgba(248,248,248,0.36);
        position: absolute;
        top: 16px;
        left: 50%;
        margin-left: -8px;
        display: none;
    }
    .zj_mobile_licheng .list ul li .t{
        width: 10px;
        height: 10px;
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        border-radius:50%;
        background:rgba(0,224,233,1);
        font-size:12px;
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(255,255,255,1);
        position: relative;
    }
    .zj_mobile_licheng .list ul li .t .title{
        position: absolute;
        left:50%;
        width: 60px;
        text-align: center;
        margin-left: -30px;
        top: -20px;
    }
    .contact_us{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .contact_us h3{
        position:relative;
        font-size:24px;
        font-family:MicrosoftYaHei-Bold;
        font-weight:bold;
        color:rgba(26,26,26,1);
        text-align: center;
    }
    .contact_us h3 div.piaofu{
        position: absolute;
        width: 170px;
        height: 22px;
        background: url(../m-images/about/contact.png) no-repeat;
        background-size: 100% 100%;
        z-index: 0;
        left: 50%;
        margin-left: -88px;
        top: 10px;
    }
    .contact_us .list{
        width: 100%;
        padding-top: 30px;
        position: relative;
    }
    .contact_us .list>div{
        width: 50vw;
        float: left;
        text-align: center;
    }
    .contact_us .list>div img{
        width: 10%;
        height: auto;
    }
    .contact_us .list>div span{
        display: block;
        width: 100%;
    }
    .contact_us .list>div span.title{
        font-size:16px;
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(26,26,26,1);
        text-align: center;
        width: 100%;
        margin: 10px 0;
    }
    .contact_us .list div.line{
        width: 1px;
        height: 66px;
        border-right: 1px dashed rgba(191,191,191,1);
        position: absolute;
        left: 50vw;
        top: 37px;
    }
    .map{
        margin-top: 48px;
        width: 100vw;
        height: 50vw;
    }
}