.zj_default_color{
    color:white !important;
}
.zj_black_color{
    color: black !important;
}
.zj_hui_color{
    color: #000C12 !important;
}
.zj_jing_color{
    color: #101010 !important;
}
.video-js{
    background-color: rgba(255,255,255,0) !important;
    margin: 0 auto;
    width: 1174px;
    height: 660px;
}
.video-js .vjs-big-play-button{
    margin-top: -45px;
}



/*字体设置*/
.zj_family_stxihei{
    font-family: STXihei !important;
}
.zj_family_pingfang{
    font-family: PingFang-SC-Regular !important;
}

.zj_black_bg{
    background-color: black;
}