.design_banner{
    /*background: url("../images/2_slices/bg.png") no-repeat;*/
    /*background-size: 100% 100%;*/
    height: 100vh;
}
.design_banner .zj_design_footer{
    position: absolute;
    bottom: 60px;
    width: 1400px;
    /*height: 200px;*/
    left:50%;
    margin-left: -700px;
}
.design_banner .zj_design_footer ul li{
    float: left;
    width: 33.33%;
    text-align: center;
}
.design_banner .zj_design_footer ul li span{
    display: block;
    width: 100%;
    text-align: center;
}
.design_banner .zj_design_footer ul li span.num{
    font-size:24px;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(254,255,255,1);
    height: 50px;
    line-height: 50px;
}
.design_banner .zj_design_footer ul li span.txt{
    margin-top: 10px;
    font-size:18px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(254,255,255,1);
}
.design_banner .design_video{
    width:100%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
}
.design_banner .design_video video{
    width:100%;
    height: auto;
}
.design_banner .design_mask{
    width:100%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    background:rgba(0,110,255,0.90);
}
.zj_design_1{
    /*margin: 0 auto;*/
    width: 860px;
    height: 400px;
    position: absolute;
    left:50%;
    top:50%;
    margin-left: -430px;
    margin-top: -240px;
}
.zj_design_1 .zj_design_box{
    width: 100%;
    height: 400px;
    background: url("../images/2_slices/bk.png") no-repeat;
    background-size: 100% 100%;
}
.zj_design_1 img{
    width: 184px;
    height: 224px;
    display: block;
    float: left;
    /*margin-right: 32px;*/
    margin-top: 86px;
    margin-left: 76px;
}
.zj_design_1 img,.zj_design_1 div.title{
    /*margin-top: 310px;*/
}
.zj_design_1 span.title{
    font-size:56px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(254,255,255,1);
}
.zj_design_1 span.remark{
    font-size:24px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(254,255,255,1);
    margin-top: 13px;
}
.zj_design_1 a{
    display: block;
    width: 158px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    margin-top: 16px;
    margin-right: 10px;
    float: left;
    z-index: 10;
    position: relative;
}
.zj_design_1 a.btn_tiyan{
    font-size:18px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(0,110,255,1);
    background: url("../images/2_slices/btn_tiyan.png") no-repeat;
    background-size: 100% 100%;
}
.zj_design_1 a.btn_tiyan:hover{
    color:rgba(255,255,255,1);
    background: url("../images/2_slices/btn_design.png") no-repeat;
    background-size: 100% 100%;
}
.zj_design_1 span{
    display: block;
    width: 100%;
}
.zj_design_1 div.title span.t1{
    font-size:72px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(254,255,255,1);
    margin-top: 40px;
}
.zj_design_1 div.title span.t2{
    font-size:36px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(254,255,255,1);
    margin-top: 10px;
}
.zj_design_1 div.title a{
    text-indent: -9999px;
    display: block;
    width: 190px;
    height: 70px;
    background: url("../images/2_slices/btn1.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 50px;
}
.zj_design_1 div.title a:hover{
    background-image: url("../images/2_slices/btn2.png");
}
.zj_design_2,
.process-box .number,
.process-box div.img{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}
.zj_design_2{
    /*width:710px;*/
    position: absolute;
    left:50%;
    margin-left: -355px;
    top:165px;
    /*display: none;*/
}
.zj_design_2 img{
    float:left;
    display:block;
    width: 102px;
    height: 126px;
}
.zj_design_2 div.say-list{
    float:left;
    width: 600px;
    margin-top: 20px;
}
.zj_design_2 div.say-list span{
    font-size:24px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(71,71,71,1);
    /*text-align: center;*/
    line-height: 92px;
    margin-left: 30px;
    padding-left: 60px;
    margin-bottom: 30px;
    display: block;
}
.zj_design_2 div.say-list span.t1{
    background: url("../images/2_slices/k1.png") no-repeat;
    width: 350px;
    height: 92px;
}
.zj_design_2 div.say-list span.t2{
    background: url("../images/2_slices/k3.png") no-repeat;
    width: 584px;
    height: 92px;
}
.zj_design_2 div.say-list span.t3{
    background: url("../images/2_slices/k2.png") no-repeat;
    width: 326px;
    height: 92px;
}
.qlist ul li div.check{
    display: none;
    position: absolute;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: rgba(255,255,255,1);
    top:210px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}
.qlist ul li div.check span{
    width:100%;
    height: 50px;
    font-size:24px;
    line-height: 50px;
    display: block;
    text-align: center;
    color: rgba(0,110,255,1);
}
.question-list-3 ul li div.check{
    right: 50px;
    top:300px;
}
.qlist ul li:hover div.check{
    display: block;
}
.qlist ul li div.active{
    display: block;
}
.question-title{
    display: none;
    margin-left: 150px;
    margin-top: 35px;
}
.question-title span{
    font-size:24px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(71,71,71,1);
    display: block;
    height: 64px;
    line-height: 64px;
    padding-left: 20px;
}
.question-list,.question-list-2 {
    width: 1136px;
    margin: 0 auto;
    /* margin-top: 200px; */
    position: absolute;
    top: 300px;
    left: 50%;
    margin-left: -568px;
}
.question-list ul li,.question-list-2 ul li{
    cursor: pointer;
    position: relative;
    float: left;
    padding: 10px;
}
.question-list ul li div.li-box{
    background-color: #fff;
    width: 264px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.question-list-3 ul li div.li-box{
    width:448px;
}
.question-list ul li,.question-list-2 ul li{
    transition: .1s transform;
    transform: translateZ(0);
}
.question-list ul li:hover,.question-list-2 ul li:hover{
    transform: scale(1.1, 1.1);
    transition: .3s transform;
    z-index: 1;
}
.question-list ul li:hover div.li-box,.question-list-2 ul li:hover div.li-box{
    box-shadow:0px 8px 9px 0px rgba(0, 0, 0, 0.15);
}
.question-list ul li div.li-box img{
    width:264px;
    height: 262px;
}
.question-list-3{
    width: 1016px;
    margin-left: -508px;
}
.question-list-3 ul li div.li-box img{
    width: 448px;
    height: 352px;
}
.question-list-3 ul li{
    padding: 10px 30px;
}
.question-list ul li div.li-box span{
    font-size:24px;
    font-family:STXihei;
    font-weight:400;
    color:rgba(34,24,21,1);
    width: 100%;
    display: block;
    text-align: center;
    margin: 8px 0 0 0;
    padding-bottom: 8px;
}
.question-list-5 ul li div.li-box{
    position: relative;
    background-color: transparent;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}
.question-list-5 ul li div.li-box span{
    font-size:25px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(0,0,0,1);
    width: 100px;
    display: block;
    position: absolute;
    top:80px;
    left:50%;
    margin-left: -50px;
}
.question-list-2 ul li div.li-box{
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    width:264px;
    height: 264px;
    line-height: 264px;
    text-align: center;
    font-size:30px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
}
.question-list-2 ul li:nth-child(1) div.li-box{
    background-color:rgba(209,81,81,1);
}
.question-list-2 ul li:nth-child(2) div.li-box{
    background-color:rgba(255,213,102,1);
}
.question-list-2 ul li:nth-child(3) div.li-box{
    background-color:rgba(0,110,255,1);
}
.question-list-2 ul li:nth-child(4) div.li-box{
    background-color:rgba(0,155,64,1);
}
.question-list-8 ul li div.li-box span{
    font-size:14px;
}
.qipao {
    /*width: 100px;*/
    height: 70px;
    /*background-color: #fff;*/
    /*position: relative;*/
    border: 3px dashed #006DFF;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
.qipao-white{
    border-color: #fff;
}
.qipao-white span{
    color: white;
}
.qipao:after,.qipao:before {
    /*border:dashed transparent;*/
    /*content:' ';*/
    /*height: 0;*/
    /*left: 100%;*/
    /*position: absolute;*/
    /*width: 0;*/
}

/*.qipao:after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*top: 11px;*/
    /*left: -9px;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-bottom: 9px solid transparent;*/
    /*border-right: 9px solid #fff;*/
    /*border-top: 9px solid transparent;*/
/*}*/

/*.qipao:before {*/
    /*content: '';*/
    /*position: absolute;*/
    /*top: 10px;*/
    /*left: -10px;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-right: 10px solid #E4E4E2;*/
    /*border-bottom: 10px solid transparent;*/
    /*border-top: 10px solid transparent;*/
/*}*/
.design_bg{
    background: url("../images/2_slices/bg2.png") repeat;
    width: 100%;
    height: 1200px;
    position: relative;
    overflow: hidden;
}
.design_page{
    display: none;
    height: 100vh;
}
.page_box{
    /*position: relative;*/
    /*height: 100vh;*/
}
.quesion-footer{
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
    height: 110px;
    display: none;
    /*background-color: transparent;*/
}
.page_style_bg_1{
    background: url("../images/2_slices/bg2.png") repeat;
    width: 100%;
}
.page_style_bg_2{
    background: url("../images/2_slices/bg3.png") repeat;
    /*background-color: blue;*/
}
.page_style_bg_3{
    background: url("../images/2_slices/bg4.png") repeat;
    /*background-color: blue;*/
}
.question{
    position: absolute;
    width: 1132px;
    height: auto;
    top: 122px;
    left: 50%;
    margin-left: -566px;
    display: none;
    padding: 50px 150px;
    background-color: white;
}
.question .title .title_box{
    margin: 0 auto;
    width:fit-content;
}
.question div.img{
    width:832px;
    height: 410px;
    position: relative;
}
.question div.img img{
    width:832px;
    height: 410px;
}
.question div.img .title{
    width: 600px;
    position: absolute;
    left:50%;
    top:174px;
    margin-left: -300px;
}
.question div.img .title span{
    display: block;
}
.question div.img .title span.icon{
    width: 34px;
    height: 34px;
    line-height: 34px;
    font-size: 24px;
    font-family: Arial-Black;
    font-weight: 900;
    color: rgba(26,26,26,1);
    text-align: center;
    float: left;
    background: white;
    border-radius: 50%;
}
.question div.img .title span.t{
    font-size: 24px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: rgba(255,254,254,1);
    text-align: left;
    margin-left: 17px;
    display: block;
    padding-left: 30px;
}
.question .answer-list{
    margin-top: 40px;
}
.question .answer-list ul li{
    float: left;
    width: 415px;
    margin-bottom: 20px;
}
.question .answer-list ul li span{
    display: inline-block;
    float: left;
}
.question .answer-list ul li span.check{
    width:36px;
    height:36px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(220,220,220,1);
    border-radius:5px;
    font-size:24px;
    font-family:Arial-BoldMT;
    font-weight:bold;
    color:rgba(26,26,26,1);
    line-height:36px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    text-indent: -999px;
}
.question .answer-list ul li span.current{
    background: url("../images/2_slices/gray_right.png") no-repeat;
    background-color: white;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}
.question .answer-list ul li span.checked{
    background: url("../images/2_slices/blue_right.png") no-repeat;
    background-color: white;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}
.question .answer-list ul li span.t{
    font-size:24px;
    font-family:STXihei;
    font-weight:400;
    color:rgba(26,26,26,1);
    margin-left: 26px;
    width: 350px;
}
.btn_group{
    /*position: absolute;*/
    /*bottom:0;*/
    text-align: center;
    width: 100%;
    /*left:0;*/
    display: none;
}
.btn_group a.next{
    width: 204px;
    height: 68px;
    background-color: #006EFF;
    display: inline-block;
    font-size:24px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height: 68px;
    text-decoration: none;
    position: absolute;
    left:50%;
    margin-left: -102px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
.btn_group a.next:hover{
    border:2px solid #006EFF;
    background-color: transparent;
    color:rgba(0,110,255,1);
}
.btn_group a.prev{
    height: 68px;
    display: inline-block;
    line-height: 68px;
    font-size:24px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    text-decoration:underline;
    color:#dcdcdc;
    margin-left: 130px;
    position: absolute;
    left:50%;
}
.btn_group a.prev:hover{
    color:rgba(0,110,255,1);
}
.process{
    margin: 0 auto;
    margin-top: 174px;
    width: 100%;
    display: none;
}
.process-box{
    position: relative;
    width: 700px;
    margin: 0 auto;
}
.process-box div.img{
    width: 102px;
    height: 126px;
    position: absolute;
    background: url("../images/2_slices/xtx.png") no-repeat;
    background-size: 100% 100%;
    display: none;
    top:-45px;
}
.process-box div.list{
    margin-left: 148px;
    width: 435px;
}
.process-box div.list ul{
    position: relative;
}
.process-box div.list ul li{
    float: left;
    width: 435px;
    height: 54px;
    margin-bottom: 20px;
    display: none;
    text-align: center;
    line-height: 54px;
    border:1px solid rgba(221, 221, 221, 1);
    border-radius:10px;
}
.process-box div.list ul li:nth-child(1){
    background: url("../images/2_slices/level1gray.png") 20px 9px no-repeat;
    background-size: 36px 36px;
}
.process-box div.list ul li:nth-child(1).current{
    background-image: url("../images/2_slices/level1white.png");
    background-color:rgba(0,109,255,1);
    color: white;
}
.process-box div.list ul li:nth-child(1).done{
    background-image: url("../images/2_slices/level1blue.png");
    background-color:rgba(209,229,253,1);
    color:rgba(100,169,254,1);
    border: none;
}

.process-box div.list ul li:nth-child(2){
    background: url("../images/2_slices/level2gray.png") 20px 9px no-repeat;
    background-size: 36px 36px;
}
.process-box div.list ul li:nth-child(2).current{
    background-image: url("../images/2_slices/level2white.png");
    background-color:rgba(0,109,255,1);
    color: white;
}
.process-box div.list ul li:nth-child(2).done{
    background-image: url("../images/2_slices/level2blue.png");
    background-color:rgba(209,229,253,1);
    color:rgba(100,169,254,1);
    border: none;
}
.process-box div.list ul li:nth-child(3){
    background: url("../images/2_slices/level3gray.png") 20px 9px no-repeat;
    background-size: 36px 36px;
}
.process-box div.list ul li:nth-child(3).current{
    background-image: url("../images/2_slices/level3white.png");
    background-color:rgba(0,109,255,1);
    color: white;
}
.process-box div.list ul li:nth-child(3).done{
    background-image: url("../images/2_slices/level3blue.png");
    background-color:rgba(209,229,253,1);
    color:rgba(100,169,254,1);
    border: none;
}
.process-box div.list ul li:nth-child(4){
    background: url("../images/2_slices/level4gray.png") 20px 9px no-repeat;
    background-size: 36px 36px;
}
.process-box div.list ul li:nth-child(4).current{
    background-image: url("../images/2_slices/level4white.png");
    background-color:rgba(0,109,255,1);
    color: white;
}
.process-box div.list ul li:nth-child(4).done{
    background-image: url("../images/2_slices/level4blue.png");
    background-color:rgba(209,229,253,1);
    color:rgba(100,169,254,1);
    border: none;
}
.process-box div.list ul li:nth-child(5){
    background: url("../images/2_slices/level5gray.png") 20px 9px no-repeat;
    background-size: 36px 36px;
}
.process-box div.list ul li:nth-child(5).current{
    background-image: url("../images/2_slices/level5white.png");
    background-color:rgba(0,109,255,1);
    color: white;
}
.process-box div.list ul li:nth-child(5).done{
    background-image: url("../images/2_slices/level5blue.png");
    background-color:rgba(209,229,253,1);
    color:rgba(100,169,254,1);
    border: none;
}
.process-box div.number{
    position: absolute;
    height: 54px;
    right: 0;
    top:0;
    display: none;
    font-size:36px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(0,109,255,1);
    line-height: 54px;
}
.zj_result_box{
    width: 100%;
    position: relative;
}
.zj_result_1{
    margin-top: 60px;
}
.zj_result_1 .left{
    width:24%;
    max-height: 900px;
    background:rgba(47,47,48,1);
    display: inline-block;
    float: left;
    padding: 168px 42px 0 40px;
}
.zj_result_1 .left span{
    display: block;
    width: 100%;
}
.zj_result_1 .left .title{
    font-size:55px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(254,254,254,1);
}
.zj_result_1 .left .title1{
    font-size:24px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:40px;
    margin-top: 61px;
}
.zj_result_1 .left .remark{
    font-size:14px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:24px;
    margin-top: 21px;
}
.zj_result_1 .right{
    float: left;
    width:76%;
    height: auto;
    display: inline-block;
}
.zj_result_1 .right img{
    width:100%;
    height: auto;
}
.zj_result_2{
    margin-top: 6px;
}
.zj_result_2 .left{
    float: left;
    width: 42%;
    height:auto;
    padding-right: 6px;
}
.zj_result_2 .left img{
    width: 100%;
    height: 100%;
}
.zj_result_2 .right{
    float: left;
    height:auto;
    width: 58%;
    /*margin-left: 6px;*/
}
.zj_result_2 .right img{
    width: 100%;
    height:auto;
}
.zj_result_3{
    margin-top: 6px;
}
.zj_result_3 .left,.zj_result_3 .left img{
    width:100%;
    height: auto;
}
.zj_result_3 .left{
    width: 76%;
    float: left;
}
.zj_result_3 .right{
    float: left;
    width: 24%;
    height: auto;
    padding: 230px 44px 0 55px;
    background:rgba(47,47,48,1);
}
.zj_result_3 .right span.remark{
    font-size:24px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:40px;
    display: block;
    width: 100%;
}
.zj_result_3 .right a{
    width: 188px;
    height:70px;
    margin-top: 45px;
    background: url("../images/2_slices/tyblue.png") no-repeat;
    background-size: 100% 100%;
    font-size:18px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    display: block;
    text-align: center;
    line-height: 70px;
    text-decoration: none;
}
.zj_result_3 .right a:hover{
    background-image: url("../images/2_slices/tyhover.png");
    color:rgba(255,255,255,1);
}
#cubeTransition{
    height: 100vh;
}

#cubeTransition {
    position: relative;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px
}
#cubeTransition>div.design_page{
    /*min-height: 100%;*/
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;
    /*font-size: 5em;*/
    color: #fff;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
}
#cubeTransition h2 {
    position: relative;
    top: 200px;
    margin: 0;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 1px 1px 0 rgba( 0, 0, 0, 0.1)
}
.rotateCubeTopOut {
    transform-origin: 50% 100%;
    animation: rotateCubeTopOut .6s both ease-in
}
.rotateCubeTopIn {
    transform-origin: 50% 0%;
    animation: rotateCubeTopIn .6s both ease-in
}
.rotateCubeBottomOut {
    transform-origin: 50% 0%;
    animation: rotateCubeBottomOut .6s both ease-in
}
.rotateCubeBottomIn {
    transform-origin: 50% 100%;
    animation: rotateCubeBottomIn .6s both ease-in
}
@keyframes rotateCubeTopOut {
    50% {
        animation-timing-function: ease-out;
        transform: translateY(-50%) translateZ(-200px) rotateX(45deg)
    }
    100% {
        opacity: .3;
        transform: translateY(-100%) rotateX(90deg)
    }
}
@keyframes rotateCubeTopIn {
    0% {
        opacity: .3;
        transform: translateY(100%) rotateX(-90deg)
    }
    50% {
        animation-timing-function: ease-out;
        transform: translateY(50%) translateZ(-200px) rotateX(-45deg)
    }
}
@keyframes rotateCubeBottomOut {
    50% {
        animation-timing-function: ease-out;
        transform: translateY(50%) translateZ(-200px) rotateX(-45deg)
    }
    100% {
        opacity: .3;
        transform: translateY(100%) rotateX(-90deg)
    }
}
@keyframes rotateCubeBottomIn {
    0% {
        opacity: .3;
        transform: translateY(-100%) rotateX(90deg)
    }
    50% {
        animation-timing-function: ease-out;
        transform: translateY(-50%) translateZ(-200px) rotateX(45deg)
    }
}
/*媒体查询*/
@media screen and (max-width: 980px) {
    .zj_design_1 .zj_design_box {
        width: 100%;
        height: 400px;
        background: url(../m-images/design/k.png) no-repeat;
        background-size: 100% 100%;
        text-align: center;
    }
    .zj_design_1{
        height: 400px;
        margin: 80px auto;
        width: 80%;
        position: static;
    }
    .zj_design_1 img {
        width: 30%;
        height: auto;
        float: none;
        margin-top: 56px;
        margin-left: 0;
        display: inline-block;
    }
    .zj_design_1 span.title{
        font-size: 26px;
    }
    .zj_design_1 span.remark{
        font-size: 20px;
    }
    .zj_design_1 a{
        display: inline-block;
        float: none;
    }
    .design_banner .design_mask{
        background: url("../m-images/design/bg.png") no-repeat;
        background-size: 100% 100%;
    }
    .design_banner .zj_design_footer{
        width: 100%;
        left:0;
        margin-left: 0;
        bottom: auto;
    }
    .design_banner .zj_design_footer ul li{
        width: 50%;
    }
    .design_banner .zj_design_footer ul li span.txt{
        font-size: 14px;
    }
    .runNum li div{
        font-size: 14px;
    }
    .design_banner .zj_design_footer ul li span.num{
        font-size: 14px;
    }
    .zj_design_1 span{
        text-align: center;
    }
    hr{
        width: 90% !important;
        margin: 0 auto;
    }
    .zj_design_2 div.say-list span.t1,.zj_design_2 div.say-list span.t3 {
        background: none;
        width: auto;
        height: 35px;
    }
    .zj_design_2 div.say-list span.t2{
        background: none;
        width: auto;
        height: 56px;
    }
    .zj_design_2 div.say-list span {
        font-size: 16px;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        color: rgba(71,71,71,1);
        line-height: normal;
        margin-left: 30px;
        margin-bottom: 10px;
        display: block;
        border: 2px dashed rgba(0,110,255,1);
        padding: 5px 10px;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
    }
    .zj_design_2 div.say-list span.t1 {
        background: none;
        width: auto;
        height: auto;
    }
    .zj_design_2 div.say-list {
        float: left;
        width: 80%;
        margin-top: auto;
    }
    .zj_design_2 img {
        float: left;
        display: block;
        width: 10%;
        height: auto;
        margin-top: -10px;
    }
    .zj_design_2 {
        width: 100%;
        position: static;
         margin-left: 0;
        margin-top: 90px;
        padding: 10px;
    }
    .question-title {
        display: none;
        margin-left: 50px;
        margin-top: 0;
    }
    .question-title span {
        font-size: 16px;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        color: rgba(71,71,71,1);
        display: block;
        height: auto;
        line-height: normal;
        padding-left: 0;
    }
    .qipao-white span{
        color:rgba(255,255,255,1);
    }
    .qipao{
        height: auto;
        border: 2px dashed #006DFF;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 5px 10px;
    }
    .qipao-white{
        border: 2px dashed #ffffff;
    }
    .question-list, .question-list-2{
        width:100%;
        left:0;
        margin-left: 0;
        top:150px;
        padding-bottom: 120px;
    }
    .question-list ul li, .question-list-2 ul li{
        width: 50%;
    }
    .question-list ul li div.li-box{
        width: 100%;
    }
    .question-list ul li div.li-box img{
        width: 100%;
        height: auto;
    }
    .qlist ul li div.check {
        right: 20px;
        top: 118px;
    }
    .question-list-3 ul li div.check{
        right: 20px;
        top: 83px;
    }
    .question-list-3 ul li{
        padding: 10px;
    }
    .question-list ul li div.li-box span{
        font-size: 12px;
    }
    .btn_group a.next{
        width: 120px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        margin-left: -60px;
    }
    .btn_group a.prev {
        height: 40px;
        display: inline-block;
        line-height: 40px;
        font-size: 20px;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        text-decoration: underline;
        color: #dcdcdc;
        margin-left: 70px;
        position: absolute;
        left: 50%;
    }
    .question-list-2 ul li div.li-box{
        width: calc(50vw - 20px);
        width: -moz-calc(50vw - 20px);
        width: -webkit-calc(50vw - 20px);
        height: calc(50vw - 20px);
        height: -moz-calc(50vw - 20px);
        height: -webkit-calc(50vw - 20px);
    }
    .question-list-2 ul li div.li-box{
        line-height: calc(50vw - 20px);
        line-height: -moz-calc(50vw - 20px);
        line-height: -webkit-calc(50vw - 20px);
        font-size: 20px;
    }
    .quesion-footer{
        bottom: 55px;
        height: 80px;
        background-color: rgba(238,238,238,1);
        padding: 20px;
        /*display: none;*/
    }
    .question-list-5 ul li div.li-box span{
        top:40px;
    }
    .process-box{
        width: 100%;
    }
    .process-box div.img{
        width: 13vw;
        height: 16vw;
        top:-1rem;
    }
    .process-box div.list{
        width: 70vw;
        margin-left: 15vw;
    }
    .process-box div.list ul li{
        width: 100%;
        height: 12vw;
        line-height: 12vw;
        background-size: 20px 20px !important;
        margin-bottom: 2rem;
    }
    .process-box div.number{
        font-size: 12px;
        height: 12vw;
        line-height: 12vw;
    }
    .zj_result_1 {
        margin-top: 50px;
    }
    .zj_result_box {
        width: 100%;
        position: relative;
    }
    .zj_result_1 .left{
        height: auto;
        width: 100%;
        max-height: 900px;
        background: rgba(47,47,48,1);
        display: inline-block;
        float: left;
        padding: 20px;
    }
    .zj_result_1 .left .title {
        font-size: 25px;
    }
    .zj_result_1 .left .title1 {
        font-size: 14px;
        margin-top: 0;
    }
    .zj_result_1 .left .remark {
        font-size: 10px;
        margin-top: 0;
    }
    .zj_result_1 .right {
        float: left;
        width: 100%;
        height: auto;
        display: inline-block;
    }
    .zj_result_3 .left {
        width: 100%;
        float: left;
    }
    .zj_result_3 .right {
        float: left;
        width: 100%;
        height: auto;
        padding: 20px;
        background: rgba(47,47,48,1);
    }
    .zj_result_3 .right span.remark {
        font-size: 10px;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        color: rgba(255,255,255,1);
        line-height: normal;
        display: block;
        width: 100%;
    }
    .zj_result_3 .right a {
        width: 8rem;
        height: 4rem;
        font-size: 14px;
        line-height: 4rem;
        text-decoration: none;
        margin: 3rem auto;
    }
}