/*媒体查询*/
@media screen and (max-width: 980px) {
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .zj_intro_footer p{
        margin: 0 0 0 0 !important;
    }
    .zj_jzxt {
        font-size: 30px;
        text-align: center !important;
        color: rgba(8,4,4,1);
        letter-spacing: 2px;
        line-height: 30px;
        position: relative;
    }
    .m_piaofu_home_bg1{
        position: absolute;
        background: url(../m-images/home/3dai.png) no-repeat;
        background-size: 100% 100%;
        width: 320px;
        height: 26px;
        top: -12px;
        left: 50%;
        margin-left: -160px;
    }
    .m_piaofu_home_bg2{
        position: absolute;
        background: url(../m-images/home/cvp.png) no-repeat;
        background-size: 100% 100%;
        width: 320px;
        height: 26px;
        top: -12px;
        left: 50%;
        margin-left: -160px;
    }
    .zj_m_p_title{
        margin-top: 20px;
        font-size:22px !important;
        font-family:PingFang-SC-Regular !important;
        font-weight:400;
        color:#006EFF;
    }
    .zj_m_p_remark{
        font-size:18px !important;
        font-family:PingFang-SC-Regular !important;
        font-weight:400;
        color:#656464;
    }
    .zj_lg_VR_con a{
        display: block;
        width: 127px;
        height: 50px;
        border: 1px solid #006EFF;
        font-size: 18px;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        color: rgba(0,110,255,1);
        margin: 0 auto;
        line-height: 48px;
        margin-top: 16px;
    }
    .zj_m_p{
        font-size: 16px;
    }
    .zj_intro_header,.zj_intro_footer{
        height: 50vh;
    }
    .zj_intro_header img{
        width:100%;
        height:100%;
    }
    .zj_page2_blue{
        font-size:22px;
        font-family:PingFang-SC-Regular;
        font-weight:400;
        color:rgba(0,110,255,1);
    }
    .zj_intro_footer h3{
        font-size: 30px;
        position: relative;
        color: rgba(8,4,4,1);
        font-weight: bold;
        margin-top: 10%;
        margin-bottom: 20px;
    }
    .zj_intro_footer a.more_info{
        width: 127px;
        height: 48px;
        background: rgba(0,110,255,1);
        font-size: 18px;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        color: rgba(255,255,255,1);
        text-align: center;
        line-height: 48px;
        display: block;
        margin: 30px auto;
    }
    .m_piaofu_home_bg0{
        position: absolute;
        background: url(../m-images/home/real.png) no-repeat;
        background-size: 100% 100%;
        width: 220px;
        height: 26px;
        top: -12px;
        left: 50%;
        margin-left: -110px;
    }
    .zj_page2_blank{
        font-size:14px;
        font-family:PingFang-SC-Regular;
        font-weight:400;
        color:rgba(76,76,76,1);
        /*line-height:36px;*/
    }
    .zj_lg_VR_content ul li{
        float: left;
        width: 50%;
        height: auto;
        text-align: center;
        margin-bottom: 1rem;
    }
    .zj_lg_VR_content ul li img{
        width: 40%;
        height: auto;
        margin: 0 auto;
    }
    .zj_lg_VR_content ul li span{
        display: block;
        width: 100%;
        text-align: center;
    }
    .zj_lg_VR_title{
        position: relative;
        font-size:30px;
        font-family:MicrosoftYaHei;
        font-weight:bold;
        color:rgba(0,0,0,1);
        top: 15%;
    }
    .zj_lg_VR_content{
        position: relative;
        top: 22%;
    }
    .zj_lg_VR_content ul li span.title{
        font-size:1.1rem;
        font-family:MicrosoftYaHei;
        font-weight:bold;
        color:rgba(0,0,0,1);
        margin-top: 10px;
    }
    .zj_lg_VR_content ul li span.remark{
        font-size:1rem;
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(0,0,0,1);
        overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
        margin-top: 4px;
    }
    .m_pro{
        height: 100vh;
    }
    .zj_page_end_up,.zj_page_end_down{
        height: 60% !important;
    }
    .zj_page_end_down{
        height: 40% !important;
    }
    .zj_page_end_up .zj_title{
        position: relative;
        top:14%;
        /*margin-top: -130px;*/
        font-size:24px;
        font-family:MicrosoftYaHei;
        font-weight:bold;
        color:rgba(16,16,16,1);
        text-align: center;
    }
    .zj_page_end_up .zj_page_end_up_img{
        position: relative;
        top:20%;
        /*margin-top: 16px;*/
        width: 96%;
        margin: 16px auto;
    }
    .zj_page_end_up .zj_page_end_up_img img{
        width: 100%;
        height: 100%;
    }
    .zj_page_end_down{
        background-color: black;
    }
    .zj_page_end_down p{
        color:rgba(255,255,255,1);
        font-family:MicrosoftYaHei;
        font-weight:400;
        font-size:12px;
    }
    .zj_page_end_down p.zj_page_end_gzh_tip{
        font-weight: bold;
    }
    .zj_page_end_down p{
        margin: 0 0 0 0 !important;
    }
    .zj_page_end_down img{
        margin-top: 10%;
        width: 30%;
        height: auto;
        margin-bottom: 20px;
    }
}