/*wrap*/
* {
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei";
}
a:hover {
	text-decoration: none;
}
a {
	color: #000;
}
.bf {
	position: absolute;
	left: 0;
	top: 300px;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	display: none;
}
.vr_video {
	position: absolute;
	top: -100px;
	width: 100%;
	height: 700px;
	display: none;
	/*z-index: 11111;*/
}
.vr_video1 {
	position: relative;
	top: -100px;
}
.bim_video1 {
	position: relative;
	/*top: -100px;*/
}
.bim_video {
	position: absolute;
	/*top: -100px;*/
	width: 100%;
	height: 700px;
	/*display: none;*/
	/*z-index: 11111;*/
}
.backToTop {
	/*display: none;*/
	position: fixed;
	bottom: 0;
	right: 0;
	width: 40px;
	z-index: 10000;
	cursor: pointer;
}
.backToTop_1 {
	/*display: none;*/
	position: fixed;
	bottom: 0;
	right: 0;
	width: 40px;
	z-index: 10000;
	cursor: pointer;
}
.zixun {
	/*display: none;*/
	position: fixed;
	bottom: 40px;
	right: 0;
	width: 40px;
	z-index: 10000;
	cursor: pointer;
}
.zx_call {
	position: absolute;
	right: 40px;
	background: #fe820b;
	color: #fff;
	padding: 10px 20px;
	width: 160px;
	text-align: center;
	display: none;
	top: 0px;
}
.kf {
	/*display: none;*/
	position: fixed;
	bottom: 80px;
	right: 0;
	width: 40px;
	z-index: 10000;
	cursor: pointer;
}
body {
	font-family: "微软雅黑";
}
.row {
	margin: 0;
}
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-12 {
	padding: 0;
}
.zj_color_current {
	color: #ffffff !important;
	background:#006eff;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
}
.zj_color {
	color: #FFB200;
}
.zj_color:hover{
	background-color: #00f5ff;
	color:#000000 !important;
}
.zj_color1{
	color:#00f5ff;
}
.zj_Color {
	color: #6D6D6D !important;
}
.hhr_sqty {
	display: inline-block;
	padding: 10px 60px;
	font-size: 20px;
	color: #000;
	background: #FFB200;
	border: 1px solid #FFB200;
}
.zj_fz{
	font-weight: bold;
	font-size: 30px !important;
}
.zj_fz_left {
	text-align: right;
}
.zj_fz_right {
	text-align: left;
}
ul,
li {
	margin: 0;
	list-style: none;
}
h1,
h2,
h3,
.container-fluid {
	margin: 0;
	padding: 0;
}
.zj_logo h1 img {
	width: 32%;
}
.section {
	text-align: center;
	color: #fff;
}
.zj_nav {
	background: rgba(0, 0, 0, .5);
	z-index: 9999;
}
.zj_logo,
.zj_logo_m {
	padding-left: 10px;
	padding-top: 6px;
}
.zj_nav_con {
	width: 1300px;
	margin: 0 auto;
}
.zj_menu {
	text-align: right;
}
.zj_menu>li {
	float: right;
	height: 60px;
	line-height: 60px;
	padding: 0 5px;
}
.zj_menu li a {
	font-size: 14px;
	color: #ffffff;
	line-height: 20px;
	padding: 3px 32px;
}
.zj_menu li a:hover {
	font-size: 14px;
	line-height: 20px;
	color: #00f5ff;
}
.zj_bmenu li a{
	padding: 3px 10px;
}
/*.zj_line{
    width: 2px;
    background: #000;
    opacity: .1;
    height: 120px;
    position: fixed;
    z-index: 1111;
    right: 30.5px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}*/
.zj_ejmenu {
	position: absolute;
	/*right: 96px;*/
	display: none;
}
.zj_ejmenu li {
	/*background: rgba(0, 0, 0, .5);*/
	display: block;
	float: inherit;
}
.zj_bmenu {
	position: absolute;
	/*right: 385px;*/
	display: none;
}
.zj_menu li ul{
	background-color: #525252;
	position: relative;
}
.zj_menu li ul li{
	text-align: center;
	padding: 0;
}
.zj_menu li ul:before {
	content:"";
	height: 0;
	width: 0;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #525252;
	border-left: 10px solid transparent;

	/* 定位 */
	position: absolute;
	left: 40%;
	top: -10px;
}
.zj_bmenu li {
	/*background: rgba(0, 0, 0, .5);*/
	display: block;
	float: inherit;
	text-align: left;
}
.zj_tmenu {
	position: absolute;
	right: 0;
	display: none;
}
.zj_tmenu li {
	/*background: rgba(0, 0, 0, .5);*/
	display: block;
	float: inherit;
}
/*section-1*/
.zj_1 {
	/*display: none;*/
	-webkit-animation-delay: 0.5s;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	animation-delay: 0.5s;
}
.zj_2 {
	/*display: none;*/
	-webkit-animation-delay: 1s;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	animation-delay: 1s;
}
.zj_3 {
	/*display: none;*/
	-webkit-animation-delay: 1.5s;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	animation-delay: 1.5s;
}
.zj_4 {
	/*display: none;*/
	-webkit-animation-delay: 3s;
	-webkit-animation-duration: 0.5s;
	animation-duration: 3s;
	animation-delay: 0.5s;
}
.zj_banner {
	/*background: url(../images/banner.png) no-repeat;*/
	background-color: #000000;
	background-size: 100% 100%;
}
.zj_banner_m {
	background: url(../images/banner.png) no-repeat center;
	background-size: cover;
}
.zj_banner h3 {
	font-size: 50px;
	margin-top: -80px;
}
.zj_banner_m h3 {
	font-size: 25px;
	margin-top: -160px;
}
.zj_title {
	margin-top: 20px;
	font-size: 24px;
	/*color: #ABABAB;*/
	color:#ffffff;
	font-weight: normal;
}
.zj_title_m {
	margin-top: 20px;
	font-size:20px;
	color: #ABABAB;
	font-weight: normal;
}
.zj_join {
	margin-top: 50px;
	width: 100%;
	text-align: center;
}
.zj_join a {
	color: #ffffff;
	display: block;
	border: 2px solid #ffffff;
	width: 168px;
	height: 50px;
	text-align: center;
	line-height: 45px;
	margin: 0 auto;
	text-decoration: none;
	font-size: 20px;
}
.zj_join a:hover{
	color: #000000;
	border-color: #00f5ff;
}
.zj_shubiao {
	position: absolute;
	bottom: 30px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
/*section-2*/
.zj_a_img {
	/*display: none;*/
	-webkit-animation-delay: 1s;
	-webkit-animation-duration: 0.5s;
	animation-duration: 1s;
	animation-delay: 0.5s;
}
.zj_a_p {
	/*display: none;*/
	-webkit-animation-delay: 1.5s;
	-webkit-animation-duration: 0.5s;
	animation-duration: 1.5s;
	animation-delay: 0.5s;
}
.zj_a_about {
	/*display: none;*/
	-webkit-animation-delay: 2s;
	-webkit-animation-duration: 0.5s;
	animation-duration: 2s;
	animation-delay: 0.5s;
}
.zj_video,
.zj_intro {
	position: relative;
	height: 100vh;
}
.zj_video img:last-child:hover {
	cursor: pointer;
}
.zj_video .zj_img_1 {
	width: 100%;
	height: 100vh;
}
.zj_play,
.zj_intro_con {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.bimPlay img:hover {
	cursor: pointer;
}
.zj_intro_con {
	height: 10px;
	margin-top: 40%;
	padding-left: 100px;
}
.zj_intro_title {
	margin-top: 10px;
}
.zj_intro_title span {
	display: inline-block;
	font-size: 20px;
	color: #666666;
	text-align: justify;
	width: 100%;
}
h1.home_page2_h1{
	color:black;position: relative;
	width: 350px;
}
h1.home_page2_h1 .piaofu_jb{
	height: 57px;
	font-size: 56px;
	/* font-family: 微软雅黑; */
	font-weight: bold;
	color: rgba(0,0,0,0);
	line-height: 57px;
	/* opacity: 0.4; */
	text-align: left;
	position: absolute;
	top: -24px;
	left: -6px;
	/* background: linear-gradient(180deg,rgba(140,131,131,1) 0%, rgba(140,131,131,0.3) 100%); */
	/*-webkit-background-clip: text;*/
	/*-webkit-text-fill-color: transparent;*/
	background: url(../images/ai/realhome.png) no-repeat;
	width: 372px;
	background-size: 100% auto;
}
p.zj_page2_font_p_size span{
	font-size: 36px;
}
h1.home_page2_h1 span{
	display: inline-block;
	color: #000000;
	text-align: justify;
	width: 100%;
	font-weight:bold;
	font-size: 50px;
	letter-spacing: 5px;
}
h1.home_page3_h1{
	color:black;position: relative;
	width: 720px;
	float: right;
}
h1.home_page3_h1 .piaofu_jb{
	width: 610px;
	height: 57px;
	font-size: 56px;
	/* font-family: 微软雅黑; */
	font-weight: bold;
	color: rgba(0,0,0,0);
	line-height: 57px;
	/* opacity: 0.4; */
	text-align: right;
	position: absolute;
	top: -24px;
	/* left: 50%; */
	margin-left: -342px;
	background: url(../images/ai/3daisystem.png) no-repeat;
	background-size: 100% auto;
	right: 0px;
}
h1.home_page3_h1 span{
	display: inline-block;
	color: #000000;
	text-align: justify;
	font-weight:bold;
	font-size: 50px;
	letter-spacing: 5px;
}
h1.home_page4_h1{
	color:black;position: relative;
	width: 720px;
}
h1.home_page4_h1 .piaofu_jb{
	width:645px;
	height:57px;
	font-size:42px;
	/*font-family:微软雅黑;*/
	font-weight:bold;
	color:rgba(0,0,0,0);
	line-height:57px;
	/*opacity:0.4;*/
	text-align: right;
	position: absolute;
	top: -24px;
	left: -20px;
	background: url(../images/ai/cvp.png) no-repeat;
	background-size: 100% auto;
}
h1.home_page4_h1 span{
	display: inline-block;
	color: #000000;
	text-align: justify;
	font-weight:bold;
	letter-spacing: 5px;
}
.zj_font24_bold,.zj_font24_bold span{
	font-size:24px;
	color: #4c4c4c;
}
.djb_font32 span{
	font-size:24px;
}
.zj_font_color_blue,.zj_font_color_blue span{
	font-size:36px;
	color:#006EFF;
}
.zj_us {
	margin-top: 80px;
}
.zj_us span {
	display: inline-block;
	color: #006EFF;
	width: 109px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border:1px solid #006EFF;
}
.zj_us span:hover {
	background: #006eff;
	cursor: pointer;
	color: #ffffff;
}

.zj_system_VR {
	/*background: url(../images/img_2015.png) no-repeat;*/
	background-size: 100% 100%;
	background-position-x: right;
	background-position-y: bottom;
}
.zj_system_VR .zj_family_VR,
.zj_lg_VR {
	position: relative;
	height: 100vh;
	z-index: 1111;
}
.zj_family_VR_con,
.zj_lg_VR_con {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.zj_family_VR_con {
	height: 250px;
	width: 100%;
	text-align: right;
}
.zj_family_vr_right{
	text-align: left !important;
	height: 300px;
}
.zj_lg_VR_con {
	height: 10px;
	width: 72%;
	margin-top: 14%;
}
.zj_family_VR_con h3,.zj_family_VR_con p{
	text-align: right;
}
.zj_family_vr_right h3,.zj_family_vr_right p{
	text-align: left !important;
}
.zj_family_VR_con a{
	color: #006eff;
	text-align: center;
	display: block;
	line-height: 44px;
	float:right;
	margin-top:30px;
}
/*.zj_family_VR_con a:hover{*/
	/*background-color: #660ecc;*/
/*}*/
.zj_family_vr_right a{
	float: left !important;
}
.zj_lg_VR_con span {
	margin-top: 30px;
	/*background: #006eff;*/
	padding: 10px 20px;
	color: #000000;
	/*display: inline-block;*/
}
/*.zj_lg_VR_con span:hover{
    margin-top: 30px;
    background: #FFB200;
    padding: 10px 20px;
    color: #000000;
    display: inline-block;
    cursor: pointer;
}*/
.zj_jzxt {
	font-size: 44px;
	font-weight: bold;
	line-height: 56px;
	color: #000000;
	letter-spacing: -3.69px;
	text-align: justify;
}
.zj_jz {
	margin: 10px 0;
	font-size: 24px;
	color: #000000;
	font-weight: bold;
}
.zj_yyes {
	display: inline-block;
	font-size: 40px;
	color: #000000;
	letter-spacing: -2.22px;
	margin-left: 20px;
}
.zj_family_VR_con .zj_design {
	font-size: 20px;
	color: #660eff;
}
.zj_family_VR_con .zj_Signing {
	font-size: 28px;
	letter-spacing: 1.22px;
	color:#000000;
}
/*section-4*/
.zj_c_img {
	/*display: none;*/
	-webkit-animation-delay: 1s;
	-webkit-animation-duration: 0.5s;
	animation-duration: 1s;
	animation-delay: 0.5s;
}
.zj_c_1 {
	/*display: none;*/
	-webkit-animation-delay: 1.5s;
	-webkit-animation-duration: 0.5s;
	animation-duration: 1.5s;
	animation-delay: 0.5s;
}
.zj_c_2 {
	/*display: none;*/
	-webkit-animation-delay: 2s;
	-webkit-animation-duration: 0.5s;
	animation-duration: 2s;
	animation-delay: 0.5s;
}
.zj_c_3 {
	/*display: none;*/
	-webkit-animation-delay: 2.5s;
	-webkit-animation-duration: 0.5s;
	animation-duration: 2.5s;
	animation-delay: 0.5s;
}
.zj_c_4 {
	/*display: none;*/
	-webkit-animation-delay: 3s;
	-webkit-animation-duration: 0.5s;
	animation-duration: 3s;
	animation-delay: 0.5s;
}
.zj_c_5 {
	/*display: none;*/
	-webkit-animation-delay: 3.5s;
	-webkit-animation-duration: 0.5s;
	animation-duration: 3.5s;
	animation-delay: 0.5s;
}
.zj_system_BIM {
	/*background: url(../images/img_2018.png) no-repeat;*/
	background-size: 100% 100%;
	background-position-y: bottom;
}
.zj_system_BIM .zj_family_VR,
.zj_lg_VR {
	position: relative;
	height: 100vh;
}
/*section-5*/
.zj_d_1 {
	/*display: none;*/
	-webkit-animation-delay: 1s;
	-webkit-animation-duration: 0.5s;
	animation-duration: 1s;
	animation-delay: 0.5s;
}
.zj_d_2 {
	/*display: none;*/
	-webkit-animation-delay: 1.5s;
	-webkit-animation-duration: 0.5s;
	animation-duration: 1.5s;
	animation-delay: 0.5s;
}
.zj_d_3 {
	/*display: none;*/
	-webkit-animation-delay: 2s;
	-webkit-animation-duration: 0.5s;
	animation-duration: 2s;
	animation-delay: 0.5s;
}
.zj_process {
	/*background: url(../images/img_1.png) no-repeat;*/
	/*background-size: 100% 100%;*/
}
.zj_process_from span {
	margin-right: 20px;
}
.zj_process_from {
	margin-bottom: 50px;
	font-size: 50px;
}
.zj_process_open span:nth-child(1) {
	font-size: 30px;
	padding: 5px 20px;
	color: #000000;
	background: #fff;
}
.zj_process_open span:nth-child(2) {
	font-size: 30px;
	padding: 5px 20px;
	border: 1px solid #979797;
}
.zj_process p {
	margin-top: 100px;
}
/*section-6*/
.zj_Highlights {
	background: #f8f8f8;
}
.zj_Piece {
	padding: 100px 150px;
}
.zj_mar {
	padding: 0 10px;
	width: 20%;
}
.zj_item {
	background: #000;
	padding: 20px;
	height: 494px;
	width: 100%;
}
.zj_item_con {
	height: 450px;
	border: 2px solid #FFFFFF;
	padding: 25px;
}
.zj_item_con p:nth-child(1) {
	margin-bottom: 60px;
	margin-top: 20px;
}
.zj_item_con p:nth-child(2) {
	font-size: 24px;
}
.zj_item_con p:nth-child(3) {
	margin-top: 30px;
	text-align: justify;
}
/*section-7*/
.zj_footer {
	background: #000;
	padding: 30px 0;
}
.zj_foot_left {
	border-right: 1px solid #333;
	height: 100%;
	padding: 10% 5%;
}
.zj_qy {
	height: 570px;
	padding-left: 15px;
	overflow: auto;
}
.zj_foot_left h3 {
	margin-top: -100px;
	font-size: 50px;
	color: #FFFFFF;
	margin-bottom: 50px;
}
.zj_foot_left .col-lg-3 {
	margin-bottom: 20px;
}
.zj_margin {
	width: 23%;
}
.zj_foot_left .col-lg-3 {
	margin-bottom: 20px;
	margin-right: 10px;
}
.zj_foot_right {
	padding: 16% 10%;
}
.zj_foot_right p {
	margin-bottom: 15px;
}
.zj_foot_right p:nth-child(2) {
	font-size: 13px;
	color: #6D6D6D;
	/*margin-left: -25px;*/
	margin-top: 5px;
	/*margin-bottom: 100px;*/
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
	height: 12px;
	width: 12px;
	margin: -6px 0 0 -6px;
	border-radius: 100%;
	background: #660eff;
}
/*vr*/
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
	width: inherit;
	height: inherit;
	font-size: 0;
}
.vr_wrap {
	width: 100%;
	position: relative;
}
.vr_nav {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 11111;
}
.navbar-fixed-top {
	position: fixed !important;
	background: rgba(0, 0, 0, .5) !important;
}
.vr_nav_con {
	width: 1300px;
	margin: 0 auto;
}
.vr_banner {
	background: url(../images/vrTop.gif) no-repeat;
	background-size: 100% 100%;
	height: 800px;
	position: relative;
}
.vr_mask {
	position: absolute;
	height: 700px;
	width: 100%;
	top: 0;
	background: rgba(0, 0, 0, .7);
}
.vr_banner_con {
	padding: 10% 0;
	color: #fff;
}
.vr_banner_con h3 {
	font-size: 32px;
	color: #FFFFFF;
	margin-bottom: 20px;
	margin-top: 60px;
}
.vr_yzx {
	font-size: 24px;
	color: #D3D3D3;
	margin-bottom: 100px;
}
.vr_apply {
	border: 1px solid #00f5ff;
	padding: 10px 30px;
	margin: 0 20px;
	color: #00f5ff !important;
}
.vr_apply:hover,
.vr_apply:focus {
	text-decoration: none;
}
.vr_sign {
	/*height: 1080px;*/
	width: 100%;
	padding: 80px 0 110px;
}
.b_lb {
	height: 524px;
	width: 991px;
	margin: 0 auto;
}
.b_lb .item img {
	position: relative;
}
.b_lb .carousel {
	width: 991px;
}
.b_lb .carousel-inner {
	width: 95%;
}
.b_lb .carousel-inner > .item {
	margin-top: 21px;
}
.b_lb .carousel-control {
	top: inherit;
}
.b_lb .carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
	margin-top: -240%;
}
.b_lb .carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	margin-left: -156%;
}
.b_lb .carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	margin-right: -55%;
}
.b_lb .item h3 {
	margin-top: 50px;
	margin-left: 40px;
}
.b_pp {
	font-size: 30px;
	color: #FFFFFF;
	margin-top: 100px;
}
.b_sv {
	font-size: 18px;
	color: #E95515;
	margin: 5px 0;
}
.vr_hz {
	margin-top: 80px;
}
.vr_sszn {
	font-size: 36px;
	color: #000000;
	margin-bottom: 10px;
	font-weight: 400;
}
.vr_zfa {
	font-size: 20px;
	color: #666666;
}
.vr_line {
	display: inline-block;
	width: 130px;
	height: 2px;
	background: #EEEEEE;
}
.vr_Effort {
	background: url(../images/ai/xuanwo.jpg) no-repeat;
	background-size: 100% 100%;
	height: 854px;
}
.vr_Effort .vr_zfa {
	margin-bottom: 60px;
}
.vr_eff_img {
	width: 560px;
	height: 315px;
}
.vr_revol {
	background: #000;
	width: 100%;
	height: 1790px;
	padding: 180px 0;
	position: relative;
	color: #fff;
}
.vr_rev_con {
	position: absolute;
	left: 0;
	right: 0;
	width: 1300px;
	margin: 0 auto;
	top: 450px;
}
.vr_revol .vr_zfa {
	color: #666666;
}
.vr_yzxms {
	padding-right: 50px;
}
.vr_yzxms_1 {
	padding-left: 50px;
}
.vr_ysy {
	height: 1190px;
	position: relative;
	width: 100%;
	padding: 180px 0;
}
.vr_ysy_con {
	position: absolute;
	left: 0;
	right: 0;
	width: 1300px;
	padding: 0 50px;
	top: 400px;
	margin: 0 auto;
	background: url(../images/vr_img6.png) no-repeat;
	background-size: 100% 155%;
	height: 350px;
}
.vr_ysy_img_1 {
	position: relative;
	top: 15px;
	left: -18px;
}
.vr_ysy_img_2 {
	position: relative;
	top: -20px;
	left: -15px;
}
.vr_ysy_img_3 {
	position: relative;
	top: 15px;
	left: 0px;
}
.vr_add {
	position: absolute;
	left: 0;
	right: 0;
	width: 1300px;
	bottom: 100px;
	margin: 0 auto;
	height: 350px;
}
.vr_add .text-center {
	height: 250px;
}
.vr_add p {
	font-size: 20px;
	color: #000000;
	margin-top: 20px;
}
.vr_them {
	height: 800px;
	position: relative;
	width: 100%;
	padding: 180px 0;
	background: #f8f8f8;
}
.vr_them_con {
	position: absolute;
	left: 0;
	right: 0;
	width: 1300px;
	margin: 0 auto;
}
.vr_them_con h3 {
	margin-bottom: 60px;
	font-size: 30px;
	color: #000000;
}
.vr_them_con .vr_them_item {
	margin-bottom: 50px;
}
.vr_bg {
	height: 810px;
	position: relative;
	width: 100%;
	padding: 100px 0;
	background: url(../images/vr_img10.png) no-repeat;
	background-size: 100% 100%;
	color: #fff;
}
.vr_version {
	position: absolute;
	left: 0;
	right: 0;
	width: 1300px;
	height: 826px;
	margin: 0 auto;
	background: #fff;
	z-index: 1111;
	bottom: -36%;
	background: #FFFFFF;
	box-shadow: 0 -7px 35px 0 rgba(0, 0, 0, 0.10);
	border-radius: 8px;
	padding: 8% 12%;
}
.vr_version_item {
	padding: 0 10px;
}
.vr_version_item ul {
	border: 1px solid #ccc;
	height: 450px;
}
.vr_version_item ul h3 {
	padding: 20px 0;
}
.vr_version_item ul h3 span img {
	position: relative;
	top: -3px;
}
.vr_ssty {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: -20%;
	z-index: 9999;
}
.vr_ssty span {
	display: inline-block;
	padding: 10px 60px;
	font-size: 20px;
	color: #000000;
	background: #FFB200;
	border: 1px solid #FFB200;
}
.vr_version_item ul li {
	font-size: 16px;
	padding: 10px 0;
	color: #999999;
}
.vr_version_item ul li:nth-of-type(odd) {
	background: #f8f8f8;
}
.vr_white {
	height: 400px;
}
.vr_footer {
	background: #000;
	width: 100%;
	position: relative;
	border-top: 1px solid #494949;
}
.vr_footer_con {
	/*padding-left: 100px;*/
	width: 1300px;
	margin: 0 auto;
	padding-top: 60px;
	padding-bottom: 60px;
}
.vr_zlhz {
	border-left: 1px solid #494949;
	border-right: 1px solid #494949;
	height: 100px;
}
.vr_zlhz p {
	color: #666;
	margin-bottom: 20px;
}
.vr_dbjlogo img {
	position: relative;
	top: 20px;
}
.vr_dbjlogo p {
	margin-top: 25px;
	color: #666;
}
.vr_lxfs {
	padding: 30px 40px;
	color: #fff;
}
.vr_lxfs img {
	position: relative;
	top: -15px;
}
.vr_company {
	position: absolute;
	bottom: 20%;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.vr_copy {
	position: absolute;
	bottom: 10%;
	left: 0;
	right: 0;
	margin: 0 auto;
	color: #494949;
}
.ai_banner {
	height: 700px;
	position: relative;
}
.ai_banner .bim_video video{
	position: absolute;z-index:-1;right: 0; bottom: 0;min-height: 100%; min-width: 100%;object-fit: fill;
}
/*BIM*/
.bim_banner {
	background: url(https://zhenjia002.oss-cn-beijing.aliyuncs.com/zhenjia/upload/image/20190225/1551075592155304.png) no-repeat;
	background-size: 100% 100%;
	height: 800px;
}
.bim_banner_con {
	padding: 10% 0;
	color: #fff;
}
.bim_banner_con h3 {
	font-size: 40px;
	color: #FFFFFF;
	margin-bottom: 20px;
	margin-top: 60px;
}
.bim_sign {
	/*height: 566px;*/
	width: 100%;
	padding: 64px 0;
	min-width: 1180px;
	background-color: #F8F8F8;
}
.bim_sign .vr_sszn {
	margin-bottom: 10px;
}
.bim_sjxg {
	position: relative;
	display: inline-block;
	width: 390px;
	height: 272px;
	border: 1px solid #dd6363;
	text-align: center;
	padding-top: 4px;
	margin-right: -8px;
	transform: scale(0.8);
}
.bim_sj {
	font-size: 24px;
	color: #000000;
	display: block;
	text-align: center;
	margin-top: 20px;
	position: relative;
}
.bim_sj:before {
	content: " ";
	display: block;
	width: 290px;
	height: 16px;
	position: absolute;
	bottom: 0;
	left: 56px;
	background: #dd6363;
	opacity: 0.1;
	z-index: -1;
}
.bim_sg {
	display: block;
	font-size: 20px;
	color: #666666;
	text-align: center;
	margin-top: 5px;
}
.bim_gjbt {
	position: relative;
	display: inline-block;
	width: 390px;
	height: 272px;
	border: 1px solid #dd6363;
	text-align: center;
	padding-top: 4px;
	transform: scale(0.8);
}
.bim_sftj {
	position: relative;
	display: inline-block;
	width: 390px;
	height: 272px;
	border: 1px solid #dd6363;
	text-align: center;
	padding-top: 4px;
	margin-left: -8px;
	transform: scale(0.8);
}
.bim_gjbt .bim_sj:before {
	width: 280px;
	left: 52px;
}
.bim_sftj .bim_sj:before {
	width: 342px;
	left: 22px;
}
.bim_down {
	margin: 50px 0;
}
.bim_Effort {
	/*height: 3747px;*/
	width: 100%;
	background: #ffffff;
	position: relative;
	padding: 120px 0;
}
.bim_wall {
	/*height: 3470px;*/
	width: 1150px;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 300px;
}
.bim_pos {
	position: absolute;
	left: 15%;
	width: 1000px;
}
.bim_pos p span:nth-of-type(1) {
	font-size: 24px;
	font-weight: bold;
	margin-right: 60px;
}
.bim_pos p {
	margin-bottom: 30px;
	font-size: 24px;
	color: #333333;
}
.bim_pos p:before {
	content: " ";
	display: inline-block;
	width: 10px;
	height: 20px;
	background: #ffb200;
	margin-right: 8px;
	vertical-align: -1px;
}
.bim_pos_1 {
	top: -15px;
}
.bim_pos_2 {
	top: 20%;
}
.bim_pos_3 {
	top: 40%;
	margin-top: -8px;
}
.bim_pos_4 {
	top: 60%;
	margin-top: -8px;
}
.bim_pos_5 {
	top: 80%;
	margin-top: -30px;
}
.bim_pos_6 {
	top: 90%;
	margin-top: 10px;
}
.bim_pos_6 span {
	width: 140px;
	height: 140px;
	text-align: center;
	line-height: 140px;
	font-size: 20px;
	display: inline-block;
	border-radius: 50%;
	border: 1px solid #d5d5d5;
	margin-right: 20px;
}
.bim_pos_7 {
	top: 99%;
	margin-top: 5px;
}
.bim_design span:nth-of-type(1) {
	font-size: 20px;
	padding: 15px 20px;
	background: #4B94C7;
	color: #fff;
	display: inline-block;
	width: 200px;
	text-align: center;
}
.bim_design span:nth-of-type(2) {
	font-size: 20px;
	padding: 14px 20px;
	width: 77%;
	display: inline-block;
}
.bim_house {
	border-bottom: 1px solid #eee;
	height: 157px;
	padding: 25px 10px;
	background: #f8f8f8;
	cursor: pointer;
}
.bim_house h3 {
	font-size: 18px;
	color: #000000;
	margin-bottom: 20px;
	text-align: justify;
	padding-left: 12px;
}
.bim_house p {
	color: #666666;
	text-align: justify;
	padding-left: 12px;
}
.bim_act {
	background: #FFB200;
}
.bim_act p {
	color: #fff;
}
.bim_hxhz {
	height: 488px;
}
.bim_revol {
	background: url(../images/bim_img_6.png) no-repeat;
	background-size: 100% 100%;
	height: 1080px;
	position: relative;
	padding: 200px 0;
}
.bim_solo {
	position: absolute;
	left: 0;
	right: 0;
	width: 1300px;
	margin: 0 auto;
	z-index: 111;
}
.bim_solo_left {
	background: #000;
	height: 600px;
	color: #fff;
	position: relative;
}
.bim_solo_left h3 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 440px;
	line-height: 48px;
	height: 300px;
	font-size: 25px;
	text-align: justify;
	margin: 200px auto 0;
	word-break: break-all;
	word-wrap: break-word;
}
.bim_solo_right {
	background: rgb(0, 0, 0, 0.3);
	height: 600px;
	color: #000;
	position: relative;
	padding: 120px 0;
}
.bim_qy {
	padding: 50px 80px 80px 80px;
}
.bim_item {
	margin-bottom: 20px;
}
.bim_item img {
	width: 148px;
}
.bim_mask {
	position: absolute;
	bottom: -50px;
	left: -50px;
	width: 664px;
	height: 376px;
	background: #FFB200;
	z-index: -1;
}
.bim_sqty {
	width: 100%;
	padding: 40px;
}
.bim_sqty span {
	font-size: 20px;
	color: #000000;
	background: #FFB200;
	padding: 10px 50px;
	display: inline-block;
}
.bim_ysy {
	background: url(../images/bim_img_11.png) no-repeat;
	background-size: 100% 100%;
	height: 656px;
	color: #fff;
	position: relative;
	padding: 100px 0;
}
.bim_ysy_con {
	position: absolute;
	left: 0;
	right: 0;
	width: 1000px;
	margin: 0 auto;
	top: 300px;
}
.bim_fz {
	border-right: 2px solid #666;
}
.bim_fz_con {
	font-size: 24px;
	color: #FFFFFF;
	margin-top: 20px;
}
/*BIMVR*/
.bimvr_nav {
	height: 60px;
	background: #000;
	z-index: 111;
}
.bimvr_banner {
	height: 100vh;
	margin-top: 60px;
}
.bimvr_banner_con {
	height: 100vh;
	position: relative;
	width: 100%;
}
.bimvr_left {
	padding: 18% 10%;
	position: relative;
}
.bimvr_left_con {
	position: absolute;
	z-index: 1111;
	right: 100px;
}
.bimvr_left_con p span,.bimvr_right_con p span{
	width: 100%;
	display: block;
}
.bimvr_left_con p.pf{
	text-align: right;
}
.bimvr_right_con p.pf{
	text-align: left;
}
.bimvr_right {
	/*background: #000;*/
	height: 100vh;
	padding-right: 10%;
	padding-top: 18%;
	color: #fff;
	position: relative;
}
.bimvr_right_con {
	position: absolute;
	z-index: 1111111;
	left:100px;
}
.bimvr_right p {
	color: #a4a4a4;
}
.bimvr_img {
	width: 858px;
	position: absolute;
	bottom: 20%;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1;
}
.bimvr_banner_con h4 {
	margin-bottom: 30px;
}
.bimvr_more {
	border:1px solid #00F5FF;
	padding: 10px 30px;
	font-size: 16px;
	color: #00F5FF;
}
.bimvr_more_left{
	float: right;
}
.bimvr_more:hover {
	color: #000000;
	background-color: #00F5FF;
}
.bimvr_know {
	border: 1px solid #00F5FF;
	padding: 10px 30px;
	font-size: 16px;
	color: #00F5FF;
	float: left;
}
.bimvr_know:hover {
	color: #000000;
	background-color: #00F5FF;
}
/*城市代理*/
.hhr_sq {
	margin-top: 150px;
}
.hhr_banner {
	background: url(../images/hhr_banner.png) no-repeat;
	background-size: 100% 100%;
}
.hhr_ysy {
	background: #f8f8f8;
	height: 800px;
	padding-top: 100px;
}
.hhr_qd {
	color: #000;
}
.hhr_ysy_con {
	width: 1300px;
	top: 200px;
}
.hhr_ysy_con img {
	width: 30%;
}
.hhr_ysy_con_left {
	/*padding-left: 100px;*/
	border-left: 1px solid #f5f5f5;
	padding: 0 50px;
}
.hhr_xt {
	background: #fff;
	color: #000;
	padding: 60px 0;
	height: 400px !important;
}
.hhr_xt h3 {
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}
.hhr_xt_vr {
	margin: 20px 0 10px 0;
	font-size: 24px;
	color: #000000;
}
.hhr_xt_ts {
	margin: 10px 0 20px 0;
	font-size: 16px;
	color: #666666;
	text-align: center;
}
.hhr_more {
	background: #FFB200;
	padding: 10px 40px;
	font-size: 16px;
	color: #000;
}
.hhr_txfk {
	background: url(../images/hhr_img11.png) no-repeat;
	background-size: 100% 100%;
	height: 800px;
	position: relative;
	padding: 100px 0 0 0;
}
.hhr_dxfk {
	/*margin-bottom: 80px;*/
	color: #fff;
	font-size: 36px;
}
.hhr_txfk_left {
	color: #fff;
}
.hhr_txfk_left p:nth-of-type(1) {
	font-size: 20px;
	color: #FFFFFF;
	margin-top: 60px;
}
.hhr_txfk_left p:nth-of-type(2) {
	font-size: 14px;
	color: #FFFFFF;
	margin-top: 25px;
}
.hhr_txfk_right {
	color: #fff;
}
.hhr_txfk_right h3 {
	/*width: 560px;*/
	/*padding: 0 120px;*/
	margin: 0px 0 150px 0;
}
.hhr_vrpt {
	font-size: 20px;
	padding-left: 20%;
	color: #FFFFFF;
	text-align: right;
	margin-bottom: 30px;
	letter-spacing: 2px;
	line-height: 25px;
}
.hhr_gsjt {
	font-size: 14px;
	color: #FFFFFF;
}
.hhr_zctx {
	background: #f8f8f8;
	height: 900px;
	position: relative;
	padding-top: 100px;
}
.hhr_add {
	color: #000;
	margin-bottom: 80px;
	font-size: 36px;
}
.hhr_server {
	background: #fff;
	height: 283px;
	padding: 100px 50px;
}
.hhr_server p {
	margin-top: 20px;
	color: #999999;
}
.hhr_wrap {
	width: 1300px;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 400px;
}
.hhr_tit_1 {
	width: 16%;
	position: absolute;
	top: 5%;
	left: 37%;
}
.hhr_tit_2 {
	width: 16%;
	position: absolute;
	top: 24%;
	left: 56%;
}
.hhr_tit_3 {
	width: 11%;
	position: absolute;
	top: 75%;
	left: 66%;
}
.hhr_tit_4 {
	width: 11%;
	position: absolute;
	top: 50%;
	left: 50%;
}
.hhr_tit_5 {
	width: 13%;
	position: absolute;
	top: 40%;
	left: 25%;
}
.hhr_tit_6 {
	width: 14%;
	position: absolute;
	top: 82%;
	left: 31%;
}
.hhr_zzyq {
	border-top: 2px solid #d8d8d8;
	height: 400px;
	color: #fff;
	position: relative;
	padding: 50px 0;
}
.hhr_zzyq_con {
	position: absolute;
	left: 0;
	right: 0;
	width: 1300px;
	margin: 0 auto;
	top: 50px;
}
.hhr_zzyq_vr {
	font-size: 30px;
	color: #000000;
	margin-bottom: 30px;
	text-align: justify;
}
.hhr_zzyq_have {
	margin-bottom: 5px;
	font-size: 16px;
	color: #666666;
	text-align: justify;
}
.hhr_friend {
	background: url(../images/hhr_img7.png) repeat scroll top left;
	background-size: 100% 100%;
	height: 650px;
}
.hhr_cityfd {
	margin-bottom: 100px;
}
.hhr_tel {
	background: #f8f8f8;
	height: 800px;
}
.hhr_tel_peo {
	color: #000;
}
.hhr_version {
	width: 1300px;
	margin: 0 auto;
}
.hhr_version .hhr_version_item {
	padding: 50px 20px;
}
.hhr_version_item ul {
	width: 85%;
	background: #fff;
	padding: 100px 40px;
	margin: 0 auto;
}
.hhr_version_item h4 {
	font-size: 30px;
	margin: 30px 0;
}
.hhr_version_item p:nth-of-type(1) {
	font-size: 14px;
	color: #666666;
	margin-bottom: 10px;
}
.hhr_version_item p:nth-of-type(2) {
	font-size: 32px;
	color: #000;
}
/*私有云服务*/
.syy_banner {
	background: url(../images/syy_banner.png) no-repeat;
	background-size: 100% 100%;
}
.syy_txfk {
	background: #fff;
}
.syy_solo {
	padding: 0 200px;
}
.syy_dh {
	width: 55%;
	position: relative;
}
.syy_title {
	background: #EEEEEE;
	font-size: 16px;
	color: #333333;
	width: 330px;
	padding-left: 30px;
	padding-top: 20px;
	/*line-height: 56px;*/
	height: 60px;
	position: absolute;
	right: 20%;
}
.syy_title_1 {
	top: -4%;
}
.syy_title_2 {
	top: 15%;
}
.syy_title_3 {
	top: 35%;
}
.syy_title_4 {
	top: 55%;
}
.syy_title_5 {
	top: 75%;
}
.syy_title_6 {
	right: 20%;
	top: 94%;
}
.syy_ysy {
	background: #f8f8f8;
	height: 660px;
	padding: 100px 0;
}
.syy_ysy_con {
	width: 1300px;
	top: 200px;
}
.syy_xt img {
	width: 20%;
}
.syy_xt_vr {
	font-size: 24px;
	color: #000;
	margin: 40px 0;
}
.syy_xt p {
	text-align: center;
	font-size: 16px;
	color: #666;
	margin: 0;
	padding: 0 50px;
}
.syy_Effort {
	background: url(../images/syy_img2.png) no-repeat center;
	background-size: cover;
	height: 1340px;
}
.syy_ys {
	color: #fff;
	font-size: 36px;
}
.syy_wrap {
	top: 330px;
}
.syy_ysdb {
	position: relative;
	margin-top: 125px;
}
.syy_ys_left {
	background: url(../images/syy_img3.png) no-repeat;
	background-size: 100% 100%;
	height: 150px;
	width: 600px;
	float: left;
	padding: 20px 70px;
}
.syy_ys_left h4,
.syy_ys_right h4 {
	margin: 5px 0 15px 0;
}
.syy_ys_left p,
.syy_ys_right p {
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
	text-align: justify;
}
.syy_ys_center {
	background: url(../images/syy_img5.png) no-repeat;
	background-size: 100% 100%;
	height: 130px;
	width: 150px;
	left: 0;
	right: 0;
	top: 10px;
	margin: 0 auto;
	position: absolute;
	float: left;
	z-index: 111;
}
.syy_ys_2 {
	background: url(../images/syy_img6.png) no-repeat;
	background-size: 100% 100%;
}
.syy_ys_3 {
	background: url(../images/syy_img7.png) no-repeat;
	background-size: 100% 100%;
}
.syy_ys_right {
	background: url(../images/syy_img4.png) no-repeat;
	background-size: 100% 100%;
	height: 150px;
	width: 600px;
	float: right;
	padding: 20px 100px;
}
.zj_blue {
	color: #00CAFF;
}
.ssy_zzyq {
	height: 520px;
	background: #f8f8f8;
	width: 100%;
	position: relative;
	padding-top: 80px;
}
.ssy_zzyq h3 {
	color: #000;
	font-size: 32px;
	font-weight: bold;
}
.ssy_kj {
	width: 1300px;
	left: 0;
	right: 0;
	margin: 0 auto;
	position: absolute;
	top: 200px;
}
.ssy_kj img {
	padding: 0 10px;
	width: 25%;
}
/*应用视频-系统下载*/
.dhj_yy_nav {
	position: relative;
	background: rgba(0, 0, 0, 0.5);
}
.zj_yy_con {
	height: 84px;
	line-height: 64px;
}
.zj_yy_con span {
	padding: 10px 50px 20px 50px;
	margin: 0 50px;
}
.zj_yy_act {
	border-bottom: 1px solid #FFB200;
}
.zj_yy_banner {
	background: url(../images/xtxz_banner.png) no-repeat;
	background-size: 100% 100%;
	height: 500px;
	width: 100%;
}
.zj_yy_bancon {
	width: 1300px;
	margin: 0 auto;
	padding: 160px 100px;
	color: #fff;
}
.zj_yy_jz {
	width: 350px;
}
.zj_yy_jz h3 {
	font-size: 36px;
	margin-bottom: 50px;
	font-weight: normal;
	letter-spacing: 2px;
}
.zj_yy_jz p:nth-of-type(1) span {
	border: 1px solid #FFB200;
	padding: 8px 70px;
	display: inline-block;
}
.zj_yy_jz p:nth-of-type(2) {
	font-size: 12px;
	color: #A8A8A8;
}
.zj_yy_ysy {
	background: #fff;
}
.zj_yy_pzyq {
	top: 200px;
	background: #f8f8f8;
	height: 500px;
}
.zj_yy_pzyq ul li {
	width: 50%;
	text-align: center;
}
.zj_yy_pzyq ul li a {
	color: #000;
	font-size: 20px;
	padding: 20px 0;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
	border: none;
	border-bottom: 1px solid #FFB200;
	background: #f8f8f8;
	color: #FFB200;
}
.yy_sys_xt {
	padding: 30px 150px;
}
.yy_sys_xt img {
	width: 15%;
}
.yy_sys_xt p {
	font-size: 16px;
	color: #333333;
	margin-top: 10px;
}
.yy_sys_tjpz {
	padding: 20px 100px;
}
.yy_sys_tj {
	background: #eee;
	padding: 20px 0px 20px 50px;
}
.yy_sys_tjpz span {
	font-size: 14px;
	color: #2A2A2A;
	width: 150px;
	display: inline-block;
}
.yy_sys_tjpz span:nth-of-type(1) {
	font-size: 16px;
	color: #000000;
	width: 80px;
}
.yy_sys_tjpz span:nth-of-type(2) {
	margin-right: 11%;
}
.yy_sys_tjpz span:nth-of-type(3) {
	margin-right: 8%;
}
.yy_sys_tjpz span:nth-of-type(4) {
	margin-right: 11%;
}
.yy_sys_cp p {
	display: inline-block;
	width: 225px;
	border-bottom: 1px solid #FFB200;
	margin-top: 50px;
}
.yy_sys_con {
	top: 150px;
}
.yy_sys_con img {
	width: 25%;
}
.yy_sys_con p {
	margin: 30px;
	color: #000000;
}
.yy_sys_ysy {
	padding: 0;
	background: #fff;
	height: 600px;
}
.yy_sys_con .hhr_ysy_con_left .hhr_xt {
	border: 2px solid #EEEEEE;
}
/*应用视频-视频教程*/
.yy_vd_down {
	font-size: 32px;
}
.yy_vd_tab {
	background: #f8f8f8;
	height: 654px;
	width: 100%;
	position: relative;
}
.yy_vd_banner {
	background: url(../images/sp_banner.png) no-repeat;
	background-size: 100% 100%;
	height: 400px;
}
.yy_vd_cz {
	position: absolute;
	width: 1300px;
	margin: 0 auto;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 50px 0;
	height: 554px;
}
.yy_vd_cz .yy_vd_nav {
	background: #fff;
	height: 560px;
}
.yy_vd_cz .yy_vd_nav li {
	display: block;
	float: inherit;
	height: 140px;
	margin-bottom: 0px;
}
.yy_vd_cz .yy_vd_nav li a {
	border-bottom: 1px solid #eee;
	height: 140px;
	line-height: 120px;
	text-align: center;
	color: #666;
	font-size: 16px;
	width: 100%;
}
.yy_vd_nav > li.active > a,
.yy_vd_nav > li.active > a:focus,
.yy_vd_nav > li.active > a:hover {
	border: none;
	border-bottom: 1px solid #FFB200;
	background: #fff;
	color: #FFB200;
	margin-right: 0;
}
.yy_vd_con {
	padding: 0 30px;
}
.yy_vd_rj {
	background: #fff;
	height: 560px;
	padding: 50px;
}
.yy_vd_rjjj {
	padding-left: 10px;
	padding-top: 10px;
}
.yy_vd_rjjj li {
	float: left;
	width: 240px;
	height: 200px;
	margin: 10px;
	background: #f8f8f8;
	border: 2px solid #EEEEEE;
}
.yy_vd_rjjj li img {
	margin-top: 60px;
	margin-bottom: 10px;
}
.yy_img {
	width: 240px;
	height: 138px;
}
.yy_vd_rjjj li p {
	font-size: 18px;
	color: #666666;
}
.yy_vd_jjcz {
	/*padding-top: 10px;*/
}
.yy_vd_jjcz li {
	float: left;
	width: 240px;
	height: 200px;
	margin: 10px;
	position: relative;
}
.yy_vd_jjcz li .yy_vd_play {
	position: absolute;
	bottom: 80px;
	left: 10px;
}
.yy_vd_jjcz li p {
	font-size: 18px;
	color: #000;
	margin-top: 30px;
}
.yy_vd_jjl {
	border-bottom: none;
}
.yy_vd_jjl li {
	width: 20%;
	margin: 0 20px;
	text-align: center;
	background: #D5D5D5;
}
.yy_vd_jjl li a {
	color: #000;
}
.yy_vd_jjl > li.active > a,
.yy_vd_jjl > li.active > a:focus,
.yy_vd_jjl > li.active > a:hover {
	background: #FFB200;
	border-bottom: none;
	color: #fff;
	/*margin-right: 0;*/
	outline: none;
}
.yy_vd_m1 {
	margin-bottom: 50px;
}
/*.yy_vd_jj_1{
    border-bottom: none;
}*/
.yy_vd_jj_1 li {
	width: 20%;
	/*margin: 0 20px;*/
	margin-right: 50px;
	text-align: center;
}
.yy_vd_jj_1 li a {
	color: #999;
}
.yy_vd_jj_1 > li.active > a,
.yy_vd_jj_1 > li.active > a:focus,
.yy_vd_jj_1 > li.active > a:hover {
	margin-right: 0;
	background: #fff;
	color: #333;
}
.yy_vd_jcmw {
	padding: 30px 40px;
}
.yy_vd_jcmw .col-lg-3 {
	margin: 10px 0;
	width: 240px;
}
.yy_vd_jcmw .col-lg-3 span {
	color: #999999;
}
.yy_vd_zn {
	border-bottom: none;
}
.yy_vd_zn li {
	width: 25%;
	margin: 10px 27px;
	text-align: center;
	background: #d5d5d5;
}
.yy_vd_zn li a {
	color: #000;
}
.yy_vd_zn > li.active > a,
.yy_vd_zn > li.active > a:focus,
.yy_vd_zn > li.active > a:hover {
	background: #FFB200;
	border-bottom: none;
	color: #fff;
	margin-right: 0;
}
/*常见问题*/
.yy_cj_banner {
	background: url(../images/wt_banner.png) no-repeat;
	background-size: 100% 100%;
	height: 400px;
}
.yy_cj_con {
	width: 100%;
	height: 1118px;
	position: relative;
	padding: 50px 0;
	background: #f8f8f8;
}
.yy_cjwt_con {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 1300px;
}
.yy_cjwt_con .col-lg-6 {
	height: 300px;
}
.yy_cjwt_lcon {
	background: #f0f0f0;
	padding: 50px;
}
.yy_cjwt_line {
	display: inline-block;
	width: 10px;
	height: 20px;
	background: #FFB200;
}
.yy_num {
	padding: 0 5px;
}
.yy_cjwt_submit {
	margin-bottom: 30px;
}
.yy_cjwt_submit span:nth-of-type(2) {
	font-size: 20px;
}
.yy_cjwt_submit span:nth-of-type(3) {
	cursor: pointer;
	float: right;
}
.yy_cjwt_submit span:nth-of-type(4) {
	float: right;
	font-size: 20px;
}
.yy_cjwt_submit span:nth-of-type(5) {
	cursor: pointer;
	float: right;
}
.yy_cjwt_page {
	width: 500px;
	height: 170px;
	overflow: hidden;
}
.yy_cjwt_page1 {
	width: 500px;
	position: absolute;
	left: 60px;
}
.yy_cjwt_page2 {
	display: none;
	width: 500px;
	position: absolute;
	left: 60px;
}
.yy_cjwt_rcon {
	padding: 50px;
	background: #fff;
}
.zj_yy_con a {
	color: #000000;
	text-decoration: none;
}
/*关于我们-公司动态*/
.us_com_banner {
	background: url(../images/xw_banner.png) no-repeat;
	background-size: 100% 100%;
	height: 400px;
}
.us_about_banner {
	background: url(../images/gywm_banner.png) no-repeat;
	background-size: 100% 100%;
	height: 400px;
}
.us_contact_banner {
	background: url(../images/lxwm_banner.png) no-repeat;
	background-size: 100% 100%;
	height: 400px;
}
.us_com_wall {
	width: 1250px;
}
.us_company_con {
	height: 2050px;
	background: #fff;
}
.us_com_con {
	top: -250px;
}
.us_com_xw {
	width: 1250px;
	top: 850px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.us_com_title {
	position: relative;
	width: 75%;
	height: 207px;
	float: left;
	padding: 20px;
}
.us_com_tit {
	height: 237px;
	margin-bottom: 30px;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}
.us_com_tit img {
	float: left;
	width: 25%;
	height: 207px;
}
.us_com_title span:nth-of-type(1) {
	position: absolute;
	right: 20px;
	top: 20px;
}
.us_com_title span:nth-of-type(2) {
	position: absolute;
	right: 80px;
	bottom: 60px;
	font-size: 20px;
	color: #eee;
}
.us_com_title span:nth-of-type(3) {
	position: absolute;
	right: 20px;
	bottom: 50px;
	font-size: 30px;
	color: #999;
	cursor: pointer;
}
.us_com_title h3 {
	margin-bottom: 20px;
	font-size: 20px;
}
.us_com_title p {
	width: 80%;
}
.us_com_page span {
	display: inline-block;
	width: 30px;
	height: 30px;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
}
.us_com_page span:nth-of-type(1) {
	background: #000;
	color: #fff;
}
.us_com_mt .col-lg-2 {
	padding-left: 50px;
	width: 13.5%;
	text-align: center;
}
/*关于我们*/
.us_ab_con h3 {
	margin-bottom: 20px;
}
.us_ab_con p {
	width: 800px;
	margin-left: 250px;
	margin-bottom: 100px;
}
.us_sb_pos {
	position: relative;
	height: 1200px;
}
.us_sb_pos .us_ab_item {
	position: absolute;
}
.us_sb_pos .us_ab_item:nth-of-type(1) {
	top: 0%;
	left: 49%;
}
.us_sb_pos .us_ab_item:nth-of-type(2) {
	top: 8%;
	left: 10%;
}
.us_sb_pos .us_ab_item:nth-of-type(3) {
	top: 12%;
	left: 60%;
}
.us_sb_pos .us_ab_item:nth-of-type(4) {
	top: 24%;
	left: 10%;
}
.us_sb_pos .us_ab_item:nth-of-type(5) {
	top: 34%;
	left: 10%;
}
.us_sb_pos .us_ab_item:nth-of-type(6) {
	top: 30%;
	left: 60%;
}
.us_sb_pos .us_ab_item:nth-of-type(7) {
	top: 39%;
	left: 60%;
}
.us_sb_pos .us_ab_item:nth-of-type(8) {
	top: 52%;
	left: 10%;
}
.us_sb_pos .us_ab_item:nth-of-type(9) {
	top: 56%;
	left: 60%;
}
.us_sb_pos .us_ab_item:nth-of-type(10) {
	top: 61%;
	left: 10%;
}
.us_sb_pos .us_ab_item:nth-of-type(11) {
	top: 65%;
	left: 60%;
}
.us_sb_pos .us_ab_item:nth-of-type(12) {
	top: 76%;
	left: 10%;
}
.us_sb_pos .us_ab_item:nth-of-type(13) {
	top: 80%;
	left: 60%;
}
/*关于我门-联系我们*/
.us_com_contact {
	background: #fff;
}
.us_com_version {
	background: #f8f8f8;
}
.us_contact_map {
	background: url(../images/lxwm_img1.png) no-repeat;
	font-size: 100% 100%;
	height: 500px;
}
.us_contact_address {
	background: url(../images/lxwm_img1.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	position: relative;
	height: 600px;
	padding: 100px 0;
}
.us_contact_add {
	width: 1300px;
	left: 0;
	right: 0;
	position: absolute;
	margin: 0 auto;
	padding-top: 50px;
}
.us_contact_add .col-lg-3 {
	background: #FFFFFF;
	box-shadow: 0 0 14px 0 #EEEEEE;
	height: 300px;
	width: 20%;
	margin: 0 30px;
	padding-top: 30px;
	position: relative;
}
.us_contact_add .col-lg-3 h3 {
	font-size: 20px;
	margin-bottom: 10px;
	padding: 0 10px;
}
.us_contact_add .col-lg-3 p {
	padding: 0 20px;
}
.contact_map {
	width: 100%;
	height: 164px;
	position: absolute;
	bottom: 0;
	/*background: #000;*/
}
.p1-2 {
	font-size: 16px;
	line-height: 30px;
	text-indent: 2em;
	color: #666;
	margin: 10px 0;
}
.content-1-2 h3 img {
	margin: 30px 0;
}
html,
body {
	margin: 0;
	padding: 0;
}
.iw_poi_title {
	color: #CC5522;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
	padding-right: 13px;
	white-space: nowrap
}
.iw_poi_content {
	font: 12px arial, sans-serif;
	overflow: visible;
	padding-top: 4px;
	white-space: -moz-pre-wrap;
	word-wrap: break-word
}
/*新闻详情*/
/*right*/
.content-3-1 h4 {
	padding: 10px;
	border-bottom: 1px solid #eeeeee;
}
.content-3-1 .p1 {
	padding: 10px;
	border-bottom: 1px solid #eeeeee;
}
.content-3-1 .p1 span {
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #999999;
	letter-spacing: 0.6px;
}
/*bim*/
.bim_lc {
	display: inline-block;
	width: 100px;
	height: 120px;
}
.bim_lc p {
	color: #fff;
	margin-top: 30px;
	text-align: center;
	font-weight: normal;
}
.line {
	position: relative;
	top: -90px;
}
.zj_ewm img {
	width: 50%;
}
.content-1-1,
.content-1-2 {
	width: 800px;
}
.us_com_title a:hover {
	color: #FFB200;
}
.us_com_title p,
.bim_house p {
	line-height: 30px;
}
.zj_foot_all a {
	color: #6d6d6d;
}
.zj_foot_all a:hover {
	color: #FFB200;
}
.vr_company a {
	color: #6d6d6d;
}
.vr_company a:hover {
	color: #FFB200;
}
.yy_sub {
	border-bottom: 1px solid #ccc;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.yy_answer p {
	font-size: 16px;
}
.yy_que {
	height: 500px;
}
.bimvr_left_con p,
.bimvr_right_con p {
	margin-top: 10px;
	font-size: 14px;
}
.index_play {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 0;
	/*display: none;*/
}
.index_play .word{
	background: url(../images/home/video_w.png) no-repeat;
	background-size: 100% auto;
	position: absolute;
	top:30%;
	width: 1200px;
	left:50%;
	margin-left: -600px;
	height: 140px;
	z-index: 99999;
}
.footerQr img {
	width: 80px;
}
.syy_ys_left h4,
.syy_ys_right h4 {
	font-size: 18px;
}
.article p img {
	width: 100%;
}
.yy_cjwt_page1 p a:hover {
	color: #feb113;
}
.cpdt_banner {
	background: url(../images/cpdt_banner.png) no-repeat;
	background-size: 100% 100%;
	height: 400px;
}
.item_1_title {
	width: 400px;
	height: 80px;
	border-right: 1px solid #eee;
}
.tm_1 {
	display: inline-block;
	width: 86px;
	height: 40px;
	line-height: 40px;
	background: #000;
	text-align: center;
	color: #fff;
}
.item_1_1 {
	width: 400px;
	height: 150px;
	border-right: 1px solid #eee;
	position: relative;
}
.date_1 {
	position: absolute;
	top: 0;
	right: 20px
}
.img_1 {
	position: absolute;
	top: 2px;
	right: -10px
}
.con_1 {
	position: absolute;
	top: 2px;
	right: -420px;
	width: 400px;
	height: 150px;
}
.con_1 h4 {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 18px;
}
.con_1 p {
	margin-bottom: 8px;
}
.cpdt {
	height: 2500px;
}
.cpdt_btn {
	display: inline-block;
	padding: 10px 30px;
	background: #FFB200;
	color: #fff;
	margin-left: -200px;
	cursor: pointer;
}
.item_2 {
	display: none;
}
.item_3 {
	display: none;
}
.con_1 a:hover {
	color: #feb112
}
/*.vr_zlhz img:nth-of-type(4){
    height: 55px !important;
}*/
.vr_lxfs {
	padding: 30px !important;
	width: 25%;
}
.vr_dbjlogo {
	padding-left: 80px;
	width: 25% !important;
}
.us_up,
.us_down {
	cursor: pointer;
	margin: 0 20px;
}
.us_up:hover {
	color: #FFB200;
}
.us_down:hover {
	color: #FFB200;
}
.us_num {
	font-style: normal;
	opacity: 0;
}
.main {
	position: relative;
	width: 1250px;
	height: 1350px;
}
.myslide {
	float: left;
	position: absolute;
	overflow: hidden;
	width: 1250px;
	height: 1350px;
}
.myslidetwo {
	position: absolute;
	overflow: hidden;
	width: 16250px;
}
.myslidetwo .xw_con {
	float: left;
	width: 1250px;
	height: 1350px;
}
.label {
	position: absolute;
	bottom: -4px;
	left: 582px;
	width: 20px;
}
.label li {
	float: left;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	margin-right: 10px;
	font-size: 20px;
	font-weight: normal;
	color: #FFB200;
	cursor: pointer;
	display: none;
}
.label li.current {
	display: inline-block;
}
.us_com_title a:focus {
	text-decoration: none;
	color: #000;
}
.example_video_1-dimensions {
	width: 100% !important;
	height: 100% !important;
}
.video-js .vjs-big-play-button {
	left: 48% !important;
	top: 56% !important;
	width: 130px !important;
	line-height: 130px !important;
	text-align: center !important;
	height: 130px !important;
	border-radius: 50% !important;
	border: none !important;
	font-size: 70px !important;
	/* background: rgba(0, 0, 0, 0.42) !important; */
	color: rgba(0,0,0,0);
	background: url(../images/home/play.png) no-repeat;
	background-size: 100%;
}
.vjs-poster {
	background-size: 100% !important;
}
#fp-nav ul li:nth-child(1) {
	display: none;
}
#on_title{
	display: none;
}
.zj_bj{
	width: 1400px;
	height: 150px;
	position: absolute;
	left:50%;
	margin-left:-700px;
	margin-top: -90px;
}
.zj_bj div{
	width: 50%;
	height: 100%;
	float:left;
	background-image: url("../images/lansebeijing_03.png");
}
.zj_bj div.zj_bj_l{
	background-repeat: repeat-y;
	background-position: left;
}
.zj_bj div.zj_bj_r{
	background-repeat: repeat-y;
	background-position: right;
}
.zj_m_p{
	color:black !important;
	font-size:12px;
}
.zj_system_advantage .six_advantage span{
	text-align: center;
	font-size: 36px;
	color:black;
}
.zj_system_advantage .zj_system_padding{
	padding: 100px 100px;
	position: relative;
}
.zj_system_advantage .zj_system_padding .six_advantage_li,.zj_system_advantage .zj_system_padding .six_advantage_li ul{
	height: 460px;
}
.six_advantage_li .six_li_div img{
	width: 32%;
}
.six_advantage_li .six_li_div span{
	width:100%;
}
.six_advantage_li .six_li_div span{
	color:#000;
	display: block;
	text-align: center;
}
.six_advantage_li .six_li_div p{
	 margin-top: 20px;
}
.six_advantage_li .six_li_div span.six_span_title{
	font-size:16px;
	font-weight: bold;
}
.six_advantage_li .six_li_div span.six_span_description{
	font-size:14px;
}
.six_advantage_li ul li{
	/*padding: 100px 100px 10px 100px;*/
	height: 170px;
	margin-top: 100px;
}
.zj_page3{
	margin-top: 16px;
}
.zj_page3 span{
	width: 100%;
	display: block;
}
.zj_page3_p {
	margin-top: 40px;
}
.zj_page3_p span {
	display: inline-block;
	color: #006eff;
	width: 109px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border:1px solid #006eff;
}
.zj_page3_p span:hover {
	background: #006eff;
	cursor: pointer;
	color: #ffffff;
}
.zj_logos .row{
	height: 100%;
}
.zj_logos .zj_logos_wrap{
	position: relative;
	height: 100%;
	/*background: url(../images/map.png) no-repeat;*/
	/*background-size: contain;*/
}
.zj_logos .title{
	/*background: url(../images/juxing.png) no-repeat;*/
	/*background-size: contain;*/
	width: 100%;
	height: 188px;
	position: relative;
}
.zj_logos .title span{
	font-size: 48px;
	color: #101010;
	display: block;
	width: 100%;
	bottom: 40px;
	text-align: center;
	position: absolute;
	font-weight: 500;
}
.zj_logos .zj_hb_content{
	padding-top: 30px;
	height: 521px;
}
.zj_logos .zj_hb_content .liebiao img{
	width: 100%;
	height:auto;
}
.zj_logos .zj_hb_content .zj_hb_col{
	text-align: center;
	float: left;
}
.zj_logos .zj_hb_content a{
	display: inline-block;
	width:14%;
	/*height:57px;*/
	border:1px solid rgba(205, 205, 205, 1);
	border-radius:5px;
	padding: 10px 20px;
	position: relative;
	margin-top: 5px;
}
.zj_logos .zj_hb_content a.zj_logos_bj_a{
	/*padding: 0 !important;*/
}
.zj_logos .zj_hb_content a.zj_logos_bj_orange_a{
	background-color: #FFAF66;
}
.zj_logos .zj_hb_content a.zj_logos_bj_orange_a .zj_logos_a_div{
	background-color: #FFAF66;
}
.zj_logos .zj_hb_content a.zj_logos_bj_green_a{
	background-color: #42DAAB;
}
.zj_logos .zj_hb_content a.zj_logos_bj_green_a .zj_logos_a_div{
	background-color: #42DAAB;
}
.zj_logos .zj_hb_content a.zj_logos_bj_blue_a{
	background-color: #4EC3FF;
}
.zj_logos .zj_hb_content a.zj_logos_bj_blue_a .zj_logos_a_div{
	background-color: #4EC3FF;
}
.zj_logos .zj_hb_content a.zj_logos_bj_red_a{
	background-color: #FF8787;
}
.zj_logos .zj_hb_content a.zj_logos_bj_red_a .zj_logos_a_div{
	background-color: #FF8787;
}
.zj_logos .zj_hb_content a .zj_logos_a_div{
	position: absolute;z-index: 9;left: 0px;top: 0px;width: 100%;height: 100%;
}
.zj_logos .zj_hb_content a.zj_logos_bj_a .zj_logos_a_img{
	text-align: center;
	position: relative;
	padding-top: 16px;
}
.zj_logos .zj_hb_content a.zj_logos_bj_a .zj_logos_a_img img{
	width: 60%;
	vertical-align: middle;
}
.zj_logos .zj_hb_content a.zj_logos_bj_a .zj_logos_a_des{
	text-align: left;
	vertical-align: middle;
	padding-top: 16px;
}
.zj_logos .zj_hb_content a.zj_logos_bj_a .zj_logos_a_des span.zj_logos_a_des_span_w1:first-letter{
	font-size: 18px;
	font-weight: 400;
}
.zj_logos .zj_hb_content a.zj_logos_bj_a .zj_logos_a_des span.zj_logos_a_des_span_w1{
	font-size:14px;
	font-family:MicrosoftYaHei;
	font-weight:400;
	font-style:italic;
	color:rgba(255,255,255,1);
	width: 100%;
	display: block;
}
.zj_logos .zj_hb_content a.zj_logos_bj_a .zj_logos_a_des span.zj_logos_a_des_span_w2{
	font-size:14px;
	font-family:MicrosoftYaHei-Bold;
	font-weight:bold;
	color:rgba(255,255,255,1);
	width: 100%;
	display: block;
}
.zj_logos .zj_hb_content a img{
	border-radius:5px;
	width: 100%;
}
.zj_nav3_time{
	width: 1200px;height: 498px;position: relative;margin: 0 auto;
}
.zj_nav3_time .up{
	border-bottom: 2px solid #006EFF;
}
.zj_nav3_time .down{
	border-top: 2px solid #006EFF;
	padding-top: 40px;
}
.zj_nav3_time .zj_nav3_time_subdiv{
	width: 240px;height: 250px;position: absolute;text-align: center;
}
.zj_nav3_time .zj_nav3_time_subdiv span.circle{
	width: 20px;height: 20px;background-color: #006eff;border-radius: 50%;display: block;left:50%;position: absolute;margin-left: -10px;
}
.zj_nav3_time .up span{
	bottom: -10px;
}
.zj_nav3_time .down span{
	top: -10px;
}
.zj_nav3_time .zj_nav3_time_subdiv span.title{
	width: 100%;
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin-top: 32px;
}
.zj_nav3_time .zj_nav3_time_subdiv span.des{
	width: 100%;
	display: block;
	font-size: 14px;
	margin-top: 18px;
}
.zj_nav3_time .zj_nav3_time_subdiv img{
	width: 132px;height: 114px;
}
.zj_nav3_people_left{
	width: 650px !important;
}
.zj_nav3_people_left,.zj_nav3_people_right{
	width: 550px;
	float: left;
}
.zj_nav3_people_right{
	padding-left: 50px;
}
.zj_nav3_people_left h1{
	font-size: 36px;
	color: #1A1A1A;
	line-height: 60px;
	width: 448px;
}
.zj_nav3_people_left p span.blue{
	color: #006EFF;
	font-size: 24px;
	line-height: 32px;
	margin-top: 10px;
}
.zj_nav3_people_left p span.des{
	color: #1A1A1A;
	font-size: 18px;
	line-height: 30px;
	/* letter-spacing: -26px; */
	width: 586px;
	display: block;
	margin-top: 10px;
}
.zj_nav3_people_li{
	margin-top: 80px;
	width: 600px;
}
.zj_nav3_people_li>ul>li{
	float: left;
	width: 300px;
	margin-bottom: 12px;
}
.zj_nav3_people_li ul li img,.zj_nav3_people_li ul li div{
	float: left;
}
.zj_nav3_people_li ul li div{
	width: 220px;
	margin-left: 10px;
}
.zj_nav3_people_li ul li img{
	width: 44px;
	height:42px;
}
.zj_nav3_people_li ul li span{
	font-size: 18px;
	font-weight: bold;
}
.zj_nav3_people_li ul li ul li{
	width: 110px;
	float: left;
}
.ai_revol{
	background: url(../images/ai/zj_nav3_kejibg.jpg) no-repeat;
	background-size: 100% 100%;
	height: 616px;
}
.zj_nav3_keji{
	color: white !important;
	width: 600px;
	float: right;
	padding-top: 60px;
}
.zj_nav3_keji span.title{
	font-size: 36px;
	line-height: 60px;
	text-align: right;
	width: 100%;
	display: block;
}
.zj_nav3_keji span.small_word{
	font-size: 18px;
	line-height: 40px;
	text-align: right;
	width: 100%;
	display: block;
	margin-top: 20px;
}
.zj_nav3_keji span.list_title{
	font-size: 24px;
	line-height: 40px;
	text-align: center;
	width: 510px;
	display: block;
	float: right;
}
.zj_nav3_keji div.list{
	margin-top: 15px;
	float: right;
}
.zj_nav3_keji div.list ul li{
	float: left;
	width: 120px;
	height: 150px;
	text-align: center;
	margin-left: 80px;
}
.zj_nav3_keji div.list ul li img{
	width: 72px;
	height: 72px;
}
.zj_nav3_keji div.list ul li span{
	font-size: 14px;
	width: 100%;
	display: block;
	margin-top: 15px;
	text-align: center;
}
.zj_nav3_design{
	width: 1200px;
	margin: 0 auto;
	/*height: 700px;*/
}
.zj_nav3_design .left,.zj_nav3_design .right{
	float: left;
}
.zj_nav3_design .left{
	width: 370px;
}
.zj_nav3_design .right{
	width: 830px;
}
.zj_nav3_design .left span.title{
	font-size: 24px;
	line-height: 72px;
	font-weight: bold;
	color:#1A1A1A;
}
.zj_nav3_design .left ul li{
	float: left;
	margin-top: 20px;
}
.zj_nav3_design .left ul li span{
	float: left;
}
.zj_nav3_design .left ul li span.icon{
	border: 3px solid #000000;
	display: inline-block;
	width: 42px;
	height: 42px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	color: black;
	line-height: 36px;
	font-size: 24px;
	text-align: center;
}
.zj_nav3_design .left ul li span.t{
	font-size: 18px;
	line-height: 36px;
	margin-left: 10px;
}
.zj_nav3_bg_div{
	background: url(../images/ai/ai_bg.jpg) no-repeat;
	background-size: 100% 100%;
	height: auto;
	min-height: 452px;
}
.zj_nav3_bg_div span{
	display: block;
	width: 100%;
	text-align: center;
	color: white;
}
.zj_nav3_bg_div span.title{
	margin-top: 163px;
	font-size: 36px;
}
.zj_nav3_bg_div span.des{
	margin-top: 51px;
	font-size:24px;
}
.zj_nav3_light{
	padding-bottom: 60px;
}
.zj_nav3_light span.title{
	width: 100%;
	display: block;
	font-size:30px ;
	line-height: 40px;
}
.zj_nav3_light div.nav3_ul{
	margin-top: 23px;
	text-align: center;
}
.zj_nav3_light div.nav3_ul ul{
	width: 810px;
	margin: 0 auto;
	display: block;
}
.zj_nav3_light div.nav3_ul ul li{
	float: left;
	width: 270px;
}
.zj_nav3_light div.nav3_ul ul li img{
	width: 62px;
	height: 42px;
}
.zj_nav3_light div.nav3_ul ul li span{
	height: 42px;
	font-size: 18px;
	line-height: 42px;
}
.zj_nav3_light div.nav3_ul_2{
	padding-top: 23px;
	text-align: center;
}
.zj_nav3_light div.nav3_ul_2 ul{
	width: 1250px;
	margin: 0 auto;
	display: block;
}
.zj_nav3_light div.nav3_ul_2 ul li{
	float: left;
	width: 250px;
}
.zj_nav3_light div.nav3_ul_2 ul li img{
	width: 40px;
	height: 34px;
}
.zj_nav3_light div.nav3_ul_2 ul li span{
	height: 34px;
	font-size: 18px;
	line-height: 34px;
}
.zj_nav3_blue_bg_div{
	background: url(../images/ai/blue_bg.jpg) no-repeat;
	background-size: 100% 247px;
	height: 246px;
	text-align: center;
	padding-top: 50px;
}
.zj_nav3_blue_bg_div span.title{
	font-size: 36px;
	color: white;
}
.zj_nav3_blue_bg_div div.p{
	text-align: center;
	margin-top: 30px;
}
.zj_nav3_blue_bg_div div.p a{
	width:267px;
	height:73px;
	border:1px solid rgba(255,255,255,1);
	display: block;
	text-align: center;
	line-height: 73px;
	font-size: 24px;
	color: white;
	margin: 0 auto;
	font-weight: bold;
	text-decoration: none;
}
.zj_nav3_blue_bg_div div.p a:hover{
	background-color: #00f5ff;
	border-color: #00f5ff;
	color: black;
}
.zj_nav4_row2 ul{
	display: block;
	width: 1200px;
	margin: 0 auto;
}
.zj_nav4_row2 ul li{
	float: left;
	width: 600px;
	text-align: center;
}
.zj_nav4_row2 ul li img{
	width: 280px;
	height:222px;
}
.zj_nav4_row2 ul li span{
	width: 100%;
	text-align: center;
	display: block;
}
.zj_nav4_row2 ul li span.title{
	font-size: 26px;
	font-weight: bold;
	margin-top: 24px;
}
.zj_nav4_row2 ul li span.des{
	margin-top: 24px;
	font-size: 14px;
}
.zj_nav4_row2 ul li span.des:last-child{
	margin-top: 10px;
}
.zj_nav4_row3 span.des{
	font-size: 24px;
	width: 960px;
	margin: 0 auto;
	display: block;
	text-align: center;
	margin-top: 54px;
	margin-bottom: 40px;
}
.zj_nav4_row3 video{
	min-height: 660px;
	min-width: 1174px;
	width: auto;
	height: auto;
	margin: 0 auto;
	display: block;
	position: relative;
}
.zj_nav4_row3 video .playBtn{
	width: 176px;
	height: 176px;
	position: absolute;
	left:50%;
	top:50%;
	margin-top: -88px;
	margin-left: -88px;
	background-color: white;
	opacity: .3;
}
.zj_nav4_row3 video .playBtn a:first-child{
	width:0;
	height:0;
	border-width:30px 0 30px 30px;
	border-style:solid;
	border-color:transparent transparent transparent #333;/*透明 透明 透明 灰*/
	margin:40px auto;
	position:relative;
}
.zj_nav4_row3 video .playBtn a.stopVideo{
	display: none;
}
.zj_footer{
	margin: 0 auto;
}
.zj_footer .menu a.txt{
	font-size: 14px;
	font-family:STXihei;
	font-weight:400;
	color:rgba(255,255,255,1);
	display: block;
	line-height: 15px;
	margin: 0 auto;
	text-align: center;
}
.zj_footer .menu a.left{
	text-align: left !important;
}
.zj_footer .menu>ul>li{
	height: 15px;
	border-right: 1px solid #ffffff;
	width: 100px;
	display: inline-block;
}
.zj_footer .menu>ul>li:last-child{
	border-right: none;
}
.zj_footer .menu ul li ul.l{
	margin-left: 15px;
	width: 120px;
}
.zj_footer .menu ul li ul li{
	width: auto;
	margin-top: 8px;
}
.zj_footer .erweima{
	text-align: center;
	width: 410px;
	margin: 25px auto 0;
}
.zj_footer .erweima img,.zj_footer .erweima p{
	/*float: left;*/
}
.zj_footer .erweima img{
	width: 100px;
	height: 100px;
	margin-right: 10px;
}
.zj_footer .erweima p span{
	color: white;
	font-size: 14px;
	width: 100%;
	display: block;
	margin-bottom: 10px;
	text-align: left;
}
.zj_nav3_list{
	padding-top: 50px;
	padding-bottom: 80px;
}
.zj_nav3_list ul li{
	float: left;
	width: 369px;
	text-align: center;
	margin:0 15px;
	border: 1px solid #000000;
}
.zj_nav3_list ul li div.title_bg{
	background-color: #1B1B1B;
	height: 121px;
	line-height: 121px;
	font-size: 24px;
	font-weight: bold;
	color: white;
}
.zj_nav3_list ul li div.content{
	padding: 60px 44px 0px 44px;
}
.zj_nav3_list ul li span{
	width: 100%;
	display: block;
	font-size: 16px;
	height: 42px;
}
.zj_nav3_list ul li img{
	width:114px;
	height: 106px;
}
.zj_nav3_list ul li div.m_div{
	margin-top: 51px;
	border-top: 1px solid rgba(27,27,27,.2);
	border-bottom: 1px solid rgba(27,27,27,.1);
}
.zj_nav3_list ul li span.middle:first-child{
	margin-top: 27px;
	color: black;
}
.zj_nav3_list ul li span.middle:last-child{
	color: #000000;
	margin-top: 24px;
	margin-bottom: 48px;
	padding-top: 24px;
	border-top: 1px solid rgba(204, 200, 200, 0.1);
}
.zj_nav3_list ul li span.bottom{
	color: black;
	margin-top: 36px;
}
.zj_nav3_list ul li span.bottom:last-child{
	margin-bottom: 24px;
	margin-top: 18px;
	padding-top: 18px;
	border-top: 1px solid rgba(204, 200, 200, 0.1);
}
.zj_nav3_design div.right img{
	width: 100%;
}