/*媒体查询*/
@media screen and (max-width: 980px) {
	/*移动端调整*/
	.navbar-brand {
		float: none;
		height: 50px;
		padding: 15px 15px;
		font-size: 18px;
		line-height: 20px;
		display: block;
		position: absolute;
		left: 50%;
		margin-left: -6rem;
	}
	.navbar-toggle{
		padding: 15px 10px;
		margin-top: 3px;
		margin-right: 40px;
	}
	.m_about{
		display: inline-block;
		height: 40px;
		line-height: 40px;
		border: 1px solid #000;
		text-align: center;
		width: 100px;
	}
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
		background: #fff;
	}
	.bg_fb{
		background: #FFB200;
		color: #000 !important;
		margin-bottom: 5px;
	}
	.m_menu li{
		padding: 6px 0;
		padding-left: 20px;
		border-bottom: 1px solid #f5f5f5;
	}
	.dropdown-menu li{
		height: 40px;
		padding-left: 0;
		margin-bottom: 5px;
	}
	.dropdown-menu li a{
		height: 40px;
		line-height: 30px !important;
	}
	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse,.navbar-collapse{
		height: 100vh !important;
		max-height: 100vh;
		background: rgba(255,255,255,.9);
	}
	.navbar-fixed-bottom .navbar, .navbar-fixed-top .navbar{
		background-color: rgba(255,255,255,.1);
	}

	.navbar-header{
		/*background: #fff;*/
		border: none;
		height: 50px;
	}
	.zj_banner{
		/*background: url(../m-images/index_banner.png) no-repeat !important;*/
		background-size: 100% 100% !important;
		height: 100vh !important;
	}
	.zj_banner h3{
		font-size: 25px;
		margin-top: -10px;
	}
	.zj_title{
		font-size: 10px;
		color: #ABABAB;
	}
	.m_img{
		width: 30%;
		display: inline-block !important;
	}
	.m_p{
		position: relative;
		top: -10%;
		display: none;
	}
	.zj_a_img{
		width: 30%;
	}
	.zj_intro_title span{
		font-size: 14px;
		/*width: 80%;*/
		/*text-align: center;*/
	}
	.zj_us span{
		margin: 0;
	}
	.zj_system_VR{
		/*background: url(../m-images/img_bg1.png) no-repeat;*/
		background-size: 90% 90%;
		background-position-x: left;
		background-position-y: top;
	}
	.zj_lg_VR_con{
		width: 100%;
		height: 100vh;
		/*top: 12%;*/
	}
	.zj_b_img,.zj_c_img{
		width: 70%;
		display: inline-block;
	}
	.zj_jzxt{
		font-size: 18px;
		text-align: center !important;
		color: #999;
		letter-spacing: 2px;
		line-height: 24px;
	}
	.zj_jz{
		text-align: center;
		font-size:22px !important;
		font-family:PingFang-SC-Regular;
		font-weight:400;
		color:rgba(0,110,255,1);
	}
	.zj_lg_VR_con span{
		/*background: none;*/
	}
	.zj_lg_VR_con p{
		/*font-size: 18px;*/
	}
	.zj_b_3{
		color: #000;
		font-size: 24px;
	}
	.zj_system_BIM{
		/*background: url(../m-images/img_bg2.png) no-repeat;*/
		background-size: 90% 90%;
		background-position-x: left;
		background-position-y: top;
	}
	.zj_process_from{
		font-size: 25px;
	}
	.zj_process_open span:nth-child(1){
		font-size: 18px;
		padding: 6px 20px;
	}
	.zj_process_open span:nth-child(2){
		font-size: 18px;
	}
	.zj_process{
		/*background: url(../m-images/page5.png) no-repeat;*/
		/*background-size: 100% 100%;*/
	}
	.index_play{
		height: auto;
	}
	.zj_Highlights .fp-tableCell{
		padding-top: 0px;
		height: 100vh;
	}
	.zj_Piece{
		padding: 20px 50px;
		height: 400px;
		width: 100%;
		position: relative;
		overflow: hidden;
	}
	.zj_mar{
		width: 100%;
		position: absolute;
		display: flex;
	}
	.navbar-toggle{
		border: white;
	}
	.navbar-default{
		border: none;
		border-color: inherit;
		background: rgba(0,0,0,1);
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
		background: none;
	}
	.m_menu img{
		width: 80%;
	}
	.m_zk{
		width: 80% !important;
	}
	.m_dh{
		width: 100%;
		border: none;
	}
	.m_dh1{
		width: 100%;
		border: none;
		display: none;
	}
	.zj_item{
		height: 400px;
		background: #fff;
		color: #000;
	}
	.zj_item_con p:nth-child(2){
		font-size: 18px;
	}
	.zj_item_con{
		height: 330px;
	}
	.zj_item_con img{
		width: 50%;
		margin-bottom: 20px;
	}
	.zj_item_con p:nth-child(1){
		margin: 0;
	}
	.zj_footer{
		padding-top: 100px;
	}
	.zj_foot_left h3{
		font-size: 30px;
		margin-top: -70px;
		margin-bottom: 20px;
	}
	.zj_margin{
		width: 140%;
		padding: 0px 10px !important;
	}
	.zj_qy{
		height: 120px;
		padding-left: 40px;
	}
	.zj_foot_right p:nth-child(2){
		margin-bottom: 0;
	}
	.zj_foot_left{
		padding: 0;
	}
	.index_play{
		top: inherit;
		bottom: 77px !important;
	}
	.zj_d_2{
		margin-bottom: 200px;
	}
	.m_pro h3{
		margin: 20px 0;
	}
	.m_move .swiper-slide{
		width: 25% !important;
		float: left;
	}
	.m_move{
		margin-left: -148px;
	}
	.zj_foot_right p:nth-child(2){
		margin-bottom: 20px;
	}
	/*vr+bim*/
	.vr_wrap{
		background: #f8f8f8; 
		height: 100vh;
	}
	.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
		left: 40% !important;
		bottom: 6% !important;
	}
	.swiper-slide{
		font-size: 12px;
	}
	.swiper-pagination-bullet-active{
		background: #FFB200 !important;
	}
	.m_word{
		padding-left: 0;
		padding-right: 0;
	}
	.m_word h4{
		font-size: 13px;
		line-height: 15px;
		margin-top: 10px;
	}
	.m_word p{
		font-size: 10px;
		margin-top: 25px;
		color: #999999;
	}
	.m_jzgd{
		font-size: 12px;
		color: #343434;
		letter-spacing: 0;
		text-align: center;
		border: 1px solid #343434;
		border-radius: 100px;
		padding: 10px 40px;
		margin: 10px 0;
		margin-bottom: 20px;
		display: inline-block;
	}
	.m_message{
		background: #f8f8f8;
		padding: 50px 0;
	}
	.m_message h3{
		font-size: 16px;
		color: #000000;
		margin-bottom: 20px;
	}
	.m_logoshop .col-xs-2{
		width: 20%;
		padding: 5px;
	}
	.m_all{
		display: none;
	}
	.m_all:nth-of-type(1){
		display: block;
	}
	.m_all .col-xs-5{
		padding-left: 0;
	}
	.m_wenzi{
		padding: 15px;
		display: inline-block;
	}
	.m_qa{
		margin-top: 50px;
		background: url(../m-images/m_qa.png) no-repeat;
		background-size: 100% 100%;
		height: 80px;
		width: 100%;
	}
	.m_ques{
		padding: 0;
		background: #fff;
	}
	.m_ques h3{
		background: #f8f8f8;
		font-size: 16px;
		color: #000000;
		padding: 15px 0;
		padding-left: 15px;
		font-weight: bold;
	}
	.m_ques h3 .yy_cjwt_line{
		height: 18px;
		width: 5px;
		position: relative;
		top: 2px;
	}
	.m_wt{
		padding-left: 15px;
	}
	.m_wt p{
		position: relative;
	}
	.m_yj{
		position: absolute;
		top: 17px;
		right: 15px;
		width: 10px;
		height: 15px;
		display: inline-block;
	}
	.m_ques p{
		margin: 0;
		background: #fff;
		font-size: 14px;
		color: #000000;
		padding: 15px 0;
		border-top: 1px solid #eee;
	}
	.m_ques p:nth-of-type(1){
		border: none;
	}
	.m_da{
		margin-top: 50px;
	}
	.m_da h3{
		font-size: 16px;
		color: #000000;
		font-weight: bold;
		padding: 30px 0;
	}
	.m_da p{
		color: #666;
	}
	.m_da h4{
		font-size: 16px;
	}
	.zj_intro_con{
		height: 450px;
	}
	.zj_intro_title{
		margin-top: 10px;
	}
	/*vr*/
	.m_common{
		width: 100%;
	}
	.b_lb{
		margin-left: 190px !important;
	}
	.vr_them_con .vr_them_item{
		padding-left: 20px !important;
	}
	.m_view{
		height: 1920px !important;
	}
	.yy_vd_tab{
		height: 1440px;
	}
	.bim_solo{
		padding: 0 20px !important;
	}
	.layui-layer-iframe{
		/*transform: scale(1.3);*/
		/*width: 900px !important;*/
		/*height: 800px !important;*/
		/*left: 200px !important;*/
	}
	/*修改*/
	.zj_join a{
		width: 100px;
		height: 40px;
	 	line-height: 36px;
	}
	
	.syy_txfk{
		height: 1000px;
	}
	.bim_sign{
		padding-bottom: 0;
		height: 600px;
	}
	.bim_solo .col-xs-3{
		height: 283px !important;
	}
	.m_common{
		width: 100%;
	}
	.six_advantage_li ul li{
		margin-top: 80px;
	}
	.zj_area_ren{
		margin-top: 30px;
		background-color: #1a1a1a;
		height: 550px;
		padding: 30px 0;
	}
	.zj_area_ren .title{
		font-size:24px;
		font-family:MicrosoftYaHei;
		font-weight:400;
		color:rgba(255,255,255,1);
		text-align: center;
	}
	.zj_area_ren .list{
		padding: 20px 30px;
	}
	.zj_area_ren .list ul li{
		float:left;
		width: 100%;
		margin-top: 15px;
	}
	.zj_area_ren .list ul li .li-box{
		background-color: #fff;
		padding: 10px;
	}
	.zj_area_ren .list ul li div{
		float: left;
	}
	.zj_area_ren .list ul li div.l{
		width: 35%;
	}
	.zj_area_ren .list ul li div.l img{
		width: 100%;
		height: auto;
	}
	.zj_area_ren .list ul li div.r{
		padding-left: 20px;
		width: 65%;
	}
	.zj_area_ren .list ul li div.r span{
		display: block;
		width: 100%;
	}
	.zj_area_ren .list ul li div.r span.name{
		font-size:14px;
		font-family:MicrosoftYaHei;
		font-weight:400;
		color:rgba(0,0,0,1);
	}
	.zj_area_ren .list ul li div.r span.area{
		font-size:12px;
		font-family:MicrosoftYaHei;
		font-weight:400;
		color:rgba(0,12,18,1);
	}
	.zj_area_ren .list ul li div.r span.phone{
		font-size:12px;
		font-family:MicrosoftYaHei;
		font-weight:400;
		color:rgba(16,16,16,1);
	}
	.zj_mobile_footer{
		padding-top: 20px;
		/*margin-top: 20px;*/
		background-color: #1a1a1a;
		text-align: center;
		padding-bottom: 30px;
	}
	.zj_mobile_footer p{
		font-size: 14px;
		font-family:MicrosoftYaHei;
		font-weight:400;
		color:rgba(255,255,255,1);
	}
	.zj_mobile_footer img{
		width: 30%;
		height: auto;
	}
	.zj_mobile_footer ul{
		margin-top: 10px;
	}
	.zj_mobile_footer ul li{
		width: 20%;
		float: left;
		font-size:12px;
		font-family:STXihei;
		font-weight:400;
	}
	.zj_mobile_footer ul li a{
		color:rgba(255,255,255,1);
	}
}
/*媒体查询*/
@media screen and (max-width: 768px) {
	.zj_b_img,.zj_c_img{
		width: 70%;
		display: inline-block;
	}
	.zj_logos{
		/*background-color: black !important;*/
	}
}
@media (min-width: 768px) {
	h1.home_page4_h1 span,h1.home_page3_h1 span,h1.home_page2_h1 span{
		font-size: 30px !important;
	}
	h1.home_page4_h1 .piaofu_jb,h1.home_page3_h1 .piaofu_jb,h1.home_page2_h1 .piaofu_jb{
		font-size:36px !important;
	}
	h1.home_page2_h1 .piaofu_jb{
		width: 241px;
		top: -12px;
	}
	h1.home_page3_h1 .piaofu_jb{
		width: 368px;
		top: -8px;
	}
	h1.home_page4_h1 .piaofu_jb{
		width: 380px;
		top:-6px;
	}
	.zj_font_color_blue, .zj_font_color_blue span{
		font-size: 18px !important;
	}
	.zj_font24_bold, .zj_font24_bold span{
		font-size: 12px !important;
	}
	.zj_logos .zj_hb_content a{
		width: 19%;
	}
}
@media (min-width: 992px) {
	h1.home_page4_h1 span,h1.home_page3_h1 span,h1.home_page2_h1 span{
		font-size: 40px !important;
	}
	h1.home_page4_h1 .piaofu_jb,h1.home_page3_h1 .piaofu_jb,h1.home_page2_h1 .piaofu_jb{
		font-size:46px !important;
	}
	h1.home_page2_h1 .piaofu_jb{
		width: 306px;
		top:-24px;
	}
	h1.home_page3_h1 .piaofu_jb{
		width: 460px;
		top: -18px;
	}
	h1.home_page4_h1 .piaofu_jb{
		width: 490px;
		top: -20px;
	}
	.zj_font_color_blue, .zj_font_color_blue span{
		font-size: 24px !important;
	}
	.zj_font24_bold, .zj_font24_bold span{
		font-size: 18px !important;
	}
	.zj_logos .zj_hb_content a{
		width: 17%;
	}
}
@media (min-width: 1200px) {
	h1.home_page4_h1 span,h1.home_page3_h1 span,h1.home_page2_h1 span{
		font-size: 50px !important;
	}
	h1.home_page4_h1 .piaofu_jb,h1.home_page3_h1 .piaofu_jb,h1.home_page2_h1 .piaofu_jb{
		font-size:56px !important;
	}
	h1.home_page2_h1 .piaofu_jb{
		width: 372px;
		top:-32px;
	}
	h1.home_page3_h1 .piaofu_jb{
		width: 610px;
		top:-20px;
	}
	h1.home_page4_h1 .piaofu_jb{
		width: 645px;
		top:-20px;
	}
	.zj_font_color_blue, .zj_font_color_blue span{
		font-size: 32px !important;
	}
	.zj_font24_bold, .zj_font24_bold span{
		font-size: 24px;
	}
	.zj_logos .zj_hb_content a{
		width: 15%;
	}
}