/*123*/
*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: inline-block;
    border: 0;
}
body{
    font-size: 14px !important;
}
/*con*/
.tcenter{
    text-align: center !important;
}
.on_title{
    font-size: 30px;
    color: #000000;
    margin: 20px;
    margin-top: 80px;
}
.on_tab{
    border-bottom: none;
    width: 100%;
    margin-bottom: 30px;
}
.on_tab img{
    width: 25%;
    position: relative;
    top: -2px;
    margin-right: 2px;
}
.on_tab li{
    width: 30%;
    padding: 0 0px;
    margin: 0 5px;
    text-align: center;
}
.on_tab li a{
    color: #000;
}
.on_tab>li.active>a, .on_tab>li.active>a:focus, .on_tab>li.active>a:hover{
    color: #FFB200;
    border: none;
    margin-right: 0;
    border-bottom: 1px solid #FFB200;
}
.on_sign{
    margin-bottom: 20px;
}
.on_sign span{
    font-size: 14px;
    color: #333333;
    margin-right: 30px;
    padding-left: 30px;
}
.on_sign input{
    border: 1px solid #EEEEEE;
    height: 30px;
    width: 245px;
    padding-left: 5px;
}
.on_section{
    border: 1px solid #EEEEEE;
    height: 30px;
    padding-left: 5px;
    width: 120px;
}
.on_sqty{
    background: #FFB200;
    border: 1px solid #FFB200;
    font-size: 14px;
    color: #000000;
    width: 80%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    margin: 0 auto 20px auto;
}
.on_sign_1{
    float: left;
}
.on_sign_1 input{
    width: 125px;
}
