.zj_soft_1{
    margin-top: 60px;
    width: 100%;
    height:290px;
    background: url("https://zhenjia002.oss-cn-beijing.aliyuncs.com/zhenjia/upload/image/20190225/1551083061273451.png") no-repeat;
    background-size: 100% 100%;
}
.zj_soft_banner{
    position: relative;
    width: 1210px;
    margin: 0 auto;
}
.zj_soft_banner .left,.zj_soft_banner .right{
    float:left;
    position: relative;
}
.zj_soft_banner .left{
    width: 500px;
}
.zj_soft_banner .right{
    width: 710px;
}
.zj_soft_banner span{
    display: block;
    width: 500px;
}
.zj_soft_banner .title{
    font-size:36px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    margin-top: 76px;
}
.zj_soft_banner .en{
    font-size:40px;
    font-family:Arial-BoldMT;
    font-weight:bold;
    color:rgba(255,255,255,1);
}
.zj_soft_banner a{
    width: 188px;
    height:68px;
    display: block;
    float: right;
    margin-top: 97px;
    text-align: center;
    line-height: 68px;
    background: url("../images/6_slices/downbtn.png") no-repeat;
    background-size: 100% 100%;
}
.zj_soft_banner a:hover{
    background-image: url("../images/6_slices/downbtnhover.png");
}
.zj_soft_box{
    width: 1210px;
    margin: 0 auto;
    position: relative;
}
.zj_soft_box .tab{
    width: 640px;
    height:90px;
    position: absolute;
    top:-45px;
    left:50%;
    margin-left: -320px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(229,229,229,1);
    border-radius:45px;
    padding: 10px;
}
.zj_soft_box .tab ul li{
    cursor: pointer;
    width: 307px;
    height: 68px;
    float: left;
    border-radius:34px;
    font-size:24px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    text-align: center;
    line-height: 68px;
    color:rgba(129,129,129,1);
}
.zj_soft_box .tab ul li.current{
    background:rgba(0,110,255,1);
    color:rgba(255,255,255,1);
}
.zj_soft_box .soft{
    width: 1210px;
    margin: 0 auto;
    margin-top: 48px;
}
.zj_soft_box .soft .table table thead{
    height:78px;
    background:rgba(40,44,50,1);
    border-radius:10px;
    font-size:24px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(255,255,255,1);
}
.zj_soft_box .soft .table table{
    width: 1210px;
    height: auto;
}
.zj_soft_box .soft .table table thead tr th{
    height: 78px;
    line-height: 78px;
    text-align: center;
}
.zj_soft_box .soft .table table thead tr th:first-child{
    -webkit-border-radius:10px 0 0 0px;
    -moz-border-radius:10px 0 0 0px;
    border-radius:10px 0 0 0px;
}
.zj_soft_box .soft .table table thead tr th:last-child{
    -webkit-border-radius:0 10px 0px 0;
    -moz-border-radius:0 10px 0px 0;
    border-radius:0 10px 0px 0;
}
.zj_soft_box .soft .table table tbody tr td{
    height: 180px;
    font-size:24px;
    font-family:PingFang-SC-Regular;
    font-weight:400;
    color:rgba(0,0,0,1);
    text-align: center;
    background-color: white;
    border-bottom:rgba(220,220,220,1) 1px solid;
}
.zj_soft_box .soft .table table tbody tr td:nth-child(odd){
    background:rgba(245,245,245,1);
}
.zj_soft_box .soft .table table tbody tr td:first-child{
    font-family:MicrosoftYaHei;
}
.zj_soft_bg{
    margin-top: 160px;
    height: 768px;
    background: url("../images/6_slices/banner.jpg") no-repeat;
    background-size: 100% 100%;
}
.zj_soft_bg .box{
    padding-top: 204px;
    text-align: center;
}
.zj_soft_bg .box span{
    display: block;
    width: 100%;
    text-align: center;
}
.zj_soft_bg .box span.title{
    font-size:66px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(255,255,255,1);
}
.zj_soft_bg .box span.remark{
    font-size:48px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    margin-top: 16px;
}
.zj_soft_bg .box span.r{
    font-size:24px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    margin-top: 33px;
}
.zj_soft_bg .box a{
    width: 344px;
    height:68px;
    background: url("../images/6_slices/downbtn2.png") no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    margin-top: 26px;
}
.zj_videolist{
    width: 1210px;
    margin: 0 auto;
    margin-top: 80px;
    position: relative;
}
.zj_videolist .left{
    width:257px;
    height: 525px;
    background:rgba(0,110,255,1);
    position: relative;
    overflow: hidden;
}
.zj_videolist div.left:before{
    content: "";
    background: black;
    transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    position: absolute;
    width: 500px;
    height: 500px;
    top: 226px;
    left: -251px;
}
.zj_videolist div.left span{
    display: block;
    font-weight:400;
    word-wrap: break-word;/*英文的时候需要加上这句，自动换行*/
    position: absolute;
    bottom: 83px;
    left:50%;
    margin-left: -20px;
    width:40px;
    height:169px;
    font-size:40px;
    font-family:MicrosoftYaHei;
    color:rgba(255,255,255,1);
}
.zj_videolist .left img{
    width: 116px;
    height: 106px;
    margin: 50px auto 0;
    display: block;
}
.zj_videolist .right{
    width: 927px;
    position: absolute;
    right: 0;
    top:-50px;
}
.nav-tabs{
    height:50px !important;
    line-height: 50px !important;
    /*width:387px;*/
    border-bottom: none;
}
.nav-tabs li{
    background:rgba(245,245,245,1) !important;
    border-right:1px solid rgba(229,229,229,1) !important;
    border-top:1px solid rgba(229,229,229,1) !important;
    width: 128px;
    text-align: center;
}
.nav-tabs li:first-child{
    border-left:1px solid rgba(229,229,229,1) !important;
}
.nav-tabs li,.nav-tabs li a{
    line-height: 50px !important;
    height: 50px !important;
    font-size:18px;
    font-family:MicrosoftYaHei;
    font-weight:400;
}
.nav-tabs>li>a{
    margin-right: 0;
}
.nav-tabs li a{
    padding: 0 20px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.nav-tabs li.active{
    background-color: white !important;
    color:rgba(0,110,255,1);
    border-bottom: none;
}
.nav-tabs li.active a{
    border-bottom: none;
    color:rgba(0,110,255,1);
    background-color: white !important;
}
.nav-tabs li.active a:hover{
    border-bottom: none;
    color:rgba(0,110,255,1);
    background-color: white !important;
}
.nav-tabs li.active a:focus{
    border-bottom: none;
    color:rgba(0,110,255,1);
    background-color: white !important;
}
.tab-content{
    padding: 10px;
    border:1px solid rgba(229,229,229,1);
    height: 621px;
    overflow: scroll;
    overflow-x: hidden;
}
.tab-content ul li,.tab-content ul li a img{
    width: 260px;
    height:233px;
    float: left;
}
.tab-content ul li{
    margin-right: 30px;
    margin-bottom: 40px;
}
.tab-content ul li a div.a{
    width: 260px;
    height:233px;
    position: relative;
}
.tab-content ul li a span.index{
    position: absolute;
    top:54px;
    left:0;
    width: 100%;
    display: block;
    font-size:24px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    text-align: center;
}
.tab-content ul li a span.title{
    font-size:14px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:24px;
    position: absolute;
    top:117px;
    left:0;
    width: 100%;
    text-align: center;
}
.tab-content ul li a:hover .cover,.tab-content ul li a:hover .play{
    display: block;
}
.tab-content ul li a div.cover{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    left:0;
    top:0;
    display: none;
    z-index: 100;
}
.tab-content ul li a div.play{
    background: url("../images/6_slices/play.png") no-repeat;
    background-size: 100% 100%;
    width: 64px;
    height: 64px;
    position: absolute;
    left:50%;
    margin-left: -32px;
    top:50%;
    margin-top: -32px;
    cursor: pointer;
    display: none;
    z-index: 101;
}
.qidai div{
    text-align: center;
    padding-top: 300px;
    font-size:24px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(229,229,229,1);
    line-height:40px;
}
.qidai2 div{
    text-align: center;
    padding-top: 100px;
    font-size:24px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(229,229,229,1);
    line-height:40px;
}
.zj_soft_2 .title{
    margin-top: 130px;
    font-size:36px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(26,26,26,1);
    text-align: center;
}
/*媒体查询*/
@media screen and (max-width: 980px) {
    .zj_soft_mobile_1{
        margin-top: 50px;
        width: 100%;
        height:14rem;
        background: url("../m-images/soft/bg.png") no-repeat;
        background-size: 100% 100%;
        position: relative;
    }
    .zj_soft_banner{
        width: 100%;
    }
    .zj_soft_banner .left {
        width: 100%;
        padding-left: 2rem;
    }
    .zj_soft_banner span{
        width:100%;
    }
    .zj_soft_banner .title {
        font-size: 18px;
        margin-top: 3.5rem;
    }
    .zj_soft_banner .en {
        font-size: 18px;
    }
    .zj_soft_mobile_1 .tab {
        position: absolute;
        z-index: 1;
        top: 12rem;
        background-color: white;
        width: 80%;
        left: 50%;
        margin-left: -40%;
        border-radius: 50px;
        padding: 0.5rem;
        height: 4.2rem;
        border:0.1rem solid rgba(229,229,229,1);
    }
    .zj_soft_mobile_1 .tab ul li{
        float: left;
        width: 50%;
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        font-size: 16px;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        color:rgba(129,129,129,1);
    }
    .zj_soft_mobile_1 .tab ul li.current{
        background:rgba(0,110,255,1);
        border-radius:40px;
        color:#ffffff;
    }
    .zj_soft_mobile_2 .title{
        width: 100%;
        font-size:16px;
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(26,26,26,1);
        margin-top: 4rem;
        margin-bottom: 4rem;
        text-align: center;
    }
    .zj_soft_mobile_2 .table{
        width: 80%;
        margin: 0 auto;
    }
    .zj_soft_mobile_2 .table ul li{
        float: left;
        width: 100%;
    }
    .zj_soft_mobile_2 .table ul li:first-child{
        /*padding: 2rem 0;*/
        background:rgba(40,44,50,1);
        -webkit-border-radius:0.5rem 0.5rem 0 0;
        -moz-border-radius:0.5rem 0.5rem 0 0;
        border-radius:0.5rem 0.5rem 0 0;
        color:rgba(255,255,255,1);
        text-align: center;
        height: 3rem;
        line-height: 3rem;
    }
    .zj_soft_mobile_2 .table ul li{
        text-align: center;
        height: 6rem;
        /*line-height: 4rem;*/
    }
    .zj_soft_mobile_2 .table ul li span{
        display: block;
        width: 33.33%;
        height: 6rem;
        /*line-height: 3rem;*/
        text-align: center;
        float: left;
    }
    .zj_soft_mobile_2 .table ul li.c span{
        height: 6rem;
        /*line-height: 4rem;*/
        border-right: solid 1px rgba(220,220,220,1);
        padding-top: 1rem;
    }
    .zj_soft_mobile_2 .table ul li span:last-child{
        border-right: none;
    }
    .zj_soft_mobile_2 .table ul li.c:nth-child(odd){
        background:rgba(245,245,245,1);
    }
    .soft_remark{
        background: url("../m-images/soft/bg2.png") no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 26rem;
        margin-top: 5rem;
        padding-top: 5rem;
    }
    .soft_remark span{
        display: block;
        width: 100%;
        text-align: center;
    }
    .soft_remark .title{
        font-size:3rem;
        font-family:MicrosoftYaHei-Bold;
        font-weight:bold;
        color:rgba(255,255,255,1);
    }
    .soft_remark .remark{
        font-size:2.5rem;
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(255,255,255,1);
        /*letter-spacing: 1rem;*/
    }
    .soft_remark .time{
        font-size:1.2rem;
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(255,255,255,1);
    }
    .soft_remark a{
        display: block;
        width: 46%;
        height: 3.4rem;
        line-height: 2.8rem;
        text-align: center;
        margin: 2rem auto;
        color: #ffffff;
        font-size:2rem;
        font-family:MicrosoftYaHei;
        font-weight:400;
        /*border: 0.1px solid #fff;*/
        background: url("../m-images/soft/btn.png") no-repeat;
        background-size: 100% 100%;
    }
    .zj_mobile_video_list .title{
        font-size:16px;
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(26,26,26,1);
        margin-top: 5rem;
        margin-bottom: 1rem;
        text-align: center;
    }
    .zj_mobile_video_list .video_box{
        width: 100%;
        float: left;
        background-color: #fff;
        padding: 20px 0;
    }
    .zj_mobile_video_list .video_box:last-child{
        margin-bottom: 5rem;
    }
    .zj_mobile_video_list .video_box .t{
        height: 2rem;
        padding-left: 5px;
    }
    .zj_mobile_video_list .video_box .t span{
        display: block;
        width: 100%;
        height: 2rem;
        line-height: 2rem;
        padding-left: 1rem;
        font-size:14px;
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(153,153,153,1);
        border-left:0.3rem solid rgba(0,110,255,1);
    }
    .zj_mobile_video_list .video_box .list ul li{
        float: left;
        width: 50%;
        padding: 5px 5px;
    }
    .zj_mobile_video_list .video_box .list ul li .a{
        position: relative;
    }
    .zj_mobile_video_list .video_box .list ul li img{
        width: 100%;
        height: auto;
    }
    .zj_mobile_video_list .video_box .list ul li span{
        width: 100%;
        display: block;
        text-align: center;
    }
    .zj_mobile_video_list .video_box .list ul li span.title{
        position: absolute;
        top:-5%;
        font-size:14px;
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(255,255,255,1);
    }
    .zj_mobile_video_list .video_box .list ul li span.index{
        position: absolute;
        top:10%;
        font-size:14px;
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(255,255,255,1);
    }
    .zj_mobile_video_list .video_box .list ul li div.play{
        background: url("../images/6_slices/play.png") no-repeat;
        background-size: 100% 100%;
        width: 50px;
        height: 50px;
        position: absolute;
        left:50%;
        margin-left: -25px;
        bottom:2.5rem;
        z-index: 101;
    }
    .zj_mobile_video_list .video_box .list ul .chabei{
        background: url(../m-images/soft/chabei.png) no-repeat;
        width: 80%;
        height: 45px;
        line-height: 45px;
        padding-left: 55px;
        font-size: 12px;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        color: rgba(196,196,196,1);
        margin: 0 auto;
        text-align: center;
        background-size: 20px 20px;
        background-position: 35% 12px;
    }
    .zj_area_ren{
        margin-top: 0;
    }
    .zj_mobile_video{
        background:rgba(242,242,242,1);
    }
}
.zj_study_title{
    height: 180px;
    width: 100%;
    background-color: #0a628f;
    color: white;
    text-align: center;
    line-height: 100px;
}
.zj_study_list{
    padding: 50px 0;
    height: 550px;
    width: 1230px;
    margin-left: -10px;
}
.zj_study_list ul,.zj_study_list ul li{
    list-style: none;
}
.zj_study_list li.video_li{
    width:246px;
    height: 246px;
    padding: 0 10px;
    background-color: white;
    float: left;
}
.zj_study_list li.video_li a{
    position: relative;
    display: block;
}
.zj_study_list li.video_li a img{
    width: 226px;
    height: 226px;
}
.zj_study_list li.video_li a span.index{
    position: absolute;
    top:54px;
    left:0;
    width: 100%;
    display: block;
    font-size:24px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    text-align: center;
}
.zj_study_list li.video_li a span.title{
    font-size:14px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:24px;
    position: absolute;
    top:117px;
    left:0;
    width: 100%;
    text-align: center;
    padding: 0 30px;
}
.zj_study_list li.video_li a div.cover{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    left:0;
    top:0;
    display: none;
    z-index: 100;
}
.zj_study_list li.video_li a div.play{
    background: url("../images/6_slices/play.png") no-repeat;
    background-size: 100% 100%;
    width: 64px;
    height: 64px;
    position: absolute;
    left:50%;
    margin-left: -32px;
    top:50%;
    margin-top: -32px;
    cursor: pointer;
    display: none;
    z-index: 101;
}
.zj_study_list li.video_li a:hover .cover,.zj_study_list li.video_li a:hover .play{
    display: block;
}
.zj_yn_video_bg{
    background: url("../images/yn_video.png") no-repeat;
    background-size: 100% 100%;
}
.zj_zy_video_bg{
    background: url("../images/zy_video.png") no-repeat;
    background-size: 100% 100%;
}
.zj_yt_video_bg{
    background: url("../images/yt_video.png") no-repeat;
    background-size: 100% 100%;
}
.search-div{
    width: 250px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #eeeeee;
    position: relative;
    float: right;
}
.search-div input{
    width: 210px;
    height: 28px;
    border: none;
    float: right;
}
.search-div i{
    height: 28px;
    width: 30px;
    float: left;
    background: url("../images/search.png") no-repeat;
    background-size: 18px 18px;
    background-position: center center;
}

