.page{
    background-color: #006eff !important;
    background: url("../m-images/cloud_bg_vr.png") no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}
.weui-form{
    background-color: transparent;
}
.zj-mobile__btn{
    width: 80%;
    padding: 12px 24px;
    border-radius: 30px;
    -moz-box-shadow:0px 6px 0px rgba(62,62,62,.3); -webkit-box-shadow:0px 6px 0px rgba(62,62,62,.3); box-shadow:0px 6px 0px rgba(62,62,62,.3);
}
.zj-mobile__btn_primary{
    background-color: #2DB7FD;
    color: #ffffff;
}
.zj-mobile__btn_default{
    background-color: #006FFF;
    color: #ffffff;
}