.zj-mobile__title{
	color: #4255C2;
	font-family: "PingFang-SC-Bold";
	font-size: 1.7em;
}
.zj-mobile__member-password{
	float:right;
}
.zj-mobile__member-inline{
	display: inline-block;
}
.zj-mobile__btn-login,.zj-mobile__btn-save{
    width: 19em;
    padding: 12px 24px;
    background-color: #4255C2;
	-moz-box-shadow:2px 10px 14px #C9C9C9; -webkit-box-shadow:2px 10px 14px #C9C9C9; box-shadow:2px 10px 14px #C9C9C9;
}
.zj-mobile__member-color{
	color: #CCC9DF;
}
.zj-mobile__icon_1,.zj-mobile__icon_2{
	width: 1.2em;
	height: 1.2em;
	display: flex;
	background-size: contain;
	background-repeat: no-repeat;
}
.zj-mobile__icon_1{
	background-image: url(../images/weui/login/username.png);
}
.zj-mobile__icon_2{
	background-image: url(../images/weui/login/password.png);
}
.zj-mobile__icon_3,.zj-mobile__icon_4{
	display: flex;
	background-size: contain;
	background-repeat: no-repeat;
}
.zj-mobile__icon_3{
	width: 20px;
	height: 20px;
	background-image: url(../images/weui/login/clear.png);
}
.zj-mobile__icon_4{
	width: 25px;
	height: 25px;
	background-image: url(../images/weui/login/close.png);
}
.zj-mobile__icon_4.open{
	background-image: url(../images/weui/login/open.png);
}

/* index样式 */
.zj-mobile__head{
	background-color: #4156C1;
	padding: 8px 16px;
	border-bottom: 1px solid rgba(240,240,240,.5);
}
.zj-mobile__head .zj-mobile__head-search i{
	color:#fff;
	font-size: 1.4em;
	background: url("../images/weui/search.png");
	background-size:100% 100%;
	display: block;
	width: .8em;
	height: .8em;
}
a.zj-mobile__head-edit{
	font-size: .92em;
	color: #fff;
	text-decoration: none;
}
.zj-mobile__search .weui-cell__hd i{
	width: 1em;
	height: 1em;
	background: url("../images/weui/close.png") no-repeat;
	background-size: 100% 100%;
	display: block;
}
.zj-mobile__search .weui-cell__ft i{
	width: 1.2em;
	height: 1.2em;
	background: url("../images/weui/search.png") no-repeat;
	background-size: 100% 100%;
	display: block;
}
.zj-mobile__search:before{
	content: " ";
    position: absolute;
    left: 16px;
    right: 16px;
    top: 38px;
    border-top-color: #fff;
}
.zj-mobile__search-input{
	text-align: center;
	color: #ffffff;
}
.zj-mobile__list ul,.zj-mobile__list ul li{
	list-style: none;
}
.zj-mobile__list ul li{
	float:left;
	width: 50vw;
	height: 50vw;
	padding: 10px;
	box-sizing: border-box;
	position: relative;
}
.zj-mobile__list ul li:nth-child(odd){
	padding-right: 5px;
}
.zj-mobile__list ul li:nth-child(even){
	padding-left: 5px;
}
.zj-mobile__list ul li:first-child div.zj-mobile__content{
	background-color: #fff;
	position: relative;
}
.zj-mobile__list ul li:first-child div.zj-mobile__content .zj-mobile__content-add{
	position: absolute;
	width: 2em;
	height: 2em;
	background: url("../images/weui/add.png") no-repeat;
	background-size: 100% 100%;
	top:10px;
	right: 10px;
}
.zj-mobile__list ul li:first-child div.zj-mobile__content .zj-mobile__content-word{
	position: absolute;
	bottom: 5px;
	left:10px;
}
.zj-mobile__list ul li:first-child div.zj-mobile__content .zj-mobile__content-word span{
	width: 100%;
	float: left;
	display: block;
}
.zj-mobile__list ul li:first-child div.zj-mobile__content .zj-mobile__content-word span:first-child{
	font-family: "PingFang-SC-Bold";
	color:#363636;
	font-weight: bold;
	font-size: 1.2em;
}
.zj-mobile__list ul li:first-child div.zj-mobile__content .zj-mobile__content-word span:last-child{
	color: #989898;
	font-family: "PingFang-SC-Medium";
	font-size: .8em;
}
.zj-mobile__content{
	width: 100%;
	height: 100%;
	border-radius: 30px 0 0 0;
	overflow: hidden;
	position: relative;
}
.zj-mobile__content img{
	width: 100%;
	height: 100%;
}

.zj-mobile__content-div{
	width:100%;height:50%;position: absolute;left:0;bottom:0;
	background-image: linear-gradient(to top, #ffffff,rgba(255,255,255,0.6) , rgba(255,255,255,0));
}
.zj-mobile__content-span{
	position: absolute;
	bottom: 0;
}
.zj-mobile__content-span span{
	float:left;
	display:block;
	width: 100%;
	padding-left: .5em;
	font-size: 0.64em;
}
.zj-mobile__content-span span.zj-mobile__content-name{
	color:#333333;
    font-size: .8em;
}
.zj-mobile__content-span span.zj-mobile__content-type{
	color:#989898;
    font-size: .7em;
}
.zj-mobile__content-span span.zj-mobile__content-project_num{
	color:#FFC74F;
}
.zj-mobile__delete-content{
	position: absolute;
	width: 1.4em;
	height: 1.4em;
	right: .3em;
	top: .3em;
	background: url("../images/weui/delete.png") no-repeat;
	background-size: 100% 100%;
}
.zj-mobile__list ul li:nth-child(odd) .zj-mobile__delete-content{
	right: 0;
}

/**
 * =========================创建清单========================
 */
.zj-mobile__head-share,.zj-mobile__head-print{
	width: 1.2em;
	height: 1.2em;
	display: block;
}
.zj-mobile__head-share{
	background: url("../images/share.png") no-repeat;
	background-size: 100% 100%;
}
.zj-mobile__head-print{
	background: url("../images/print.png") no-repeat;
	background-size: 100% 100%;
}
.zj-mobile__attribute-nav a,.zj-mobile__attribute-nav span{
	color: #4A4A4A;
	font-size: .8em;
}
.zj-mobile__attribute-nav .weui-cell__hd{
	width: 5em;
}
.zj-mobile__attribute-nav .weui-cell__ft{
	width: 3.2em;
}
.zj-mobile__attribute-nav .weui-cell__ft span{
	display: inline-block;
	position: relative;
}
.zj-mobile__attribute-nav .weui-cell__ft span:first-child{
	text-align: center;
}
.zj-mobile__attribute-nav .weui-cell__ft span:last-child{
	color: #FFB83C;
}
.zj-mobile__attribute-nav .weui-cell__ft span:last-child:before{
    content: " ";
    position: absolute;
    width: 1px;
    height: 1.8em;
    border-left: 1px solid #F0F0F0;
    left: -6px;
    top: -2px;
}
.zj-mobile__nav-icon{
	background: url(../images/weui/shaixuan.png) no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	width: .5em;
	height: 0.8em;
	display: inline-block;
}
.zj-mobile__nav-color-amount a{
	width: 45%;
	display: inline-block;
	float: left;
}
.zj-mobile__form{
	padding-bottom: 3em;
	border-radius: 0 0 5% 5%;
	background-color: #4156C1;
	-webkit-box-align: baseline;
    -webkit-align-items: baseline;
    align-items: baseline;
}
.zj-mobile__form .weui-media-box:before{
	border-top: none;
}
.zj-mobile__body{
	padding: 15px;
	margin-top: -40px;
}
.zj-mobile__body-content{
	background-color: #ffffff;
	height: 100%;
	width: 100%;
}
.zj-mobile__project-num{
	width: 100%;
	color: #FEFEFF;
	font-size: .92em;
}
.zj-mobile__village-info{
	padding:10px 0 0 0;
}
.zj-mobile__village-info-title{
	color:#FFB83C;
	font-size: 1.2em;
	padding-left: 10px;
}
.zj-mobile__village-info-desc{
	padding-left: 10px;
}
.zj-mobile__village-info-address,.zj-mobile__village-info-desc{
	color:#fefefe;
}
.zj-mobile__village-info img,.zj-mobile__village-info-img{
	width: 3em !important;
	height: 3em !important;
	line-height: 3em !important;
}
.zj-mobile__village-info span{
	display: block;
	float:left;
	width: calc(100% - 4em - 10px);
	padding-left: 10px;
}
.zj-mobile__house-type,.zj-mobile__content-form-block{
	width:100%;
	padding-top: 10px;
}
.zj-mobile__house-type span,.zj-mobile__content-form-block span{
	color: #FEFEFE;
	font-size: .92em;
}
.zj-mobile__content-form-block span{
	color: #CCC9DF;
	padding-left: 10px;
}
.zj-mobile__select-house-type{
	border:1px solid rgba(255,255,255,.5);
	border-radius: 2px;
	padding:8px 14px;
	background-color: rgba(255,255,255,.2)
}
.zj-mobile__select-house-type-icon i{
	color: #CCC9DF;
}
.zj-mobile__select-value{
	color:#ffffff;
	font-size: 1em;
}
.zj-mobile__form-input:after{
	content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    z-index: 2;
}

.zj-mobile__attribute-list-icon {
    width: .4em;
    height: 1.4em;
    background-color: #7A8CF0;
    display: block;
    float: left;
    margin-right: .5em;
}
.zj-mobile__attribute{
	background-color:#fff;
	height: min-height:400px;
	padding: 0;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.zj-mobile__attribute-color{
	text-align: center;
	display: flex;
}
.zj-mobile__attribute-color .zj-mobile__color-area a{
	width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background-color: #333;
    -moz-box-shadow: 0px 3px 0px rgba(62,62,62,.3);
    -webkit-box-shadow: 0px 3px 0px rgba(62,62,62,.3);
    box-shadow: 0px 3px 0px rgba(62,62,62,.3);
}
.zj-mobile__media-box{
	padding:4px 0;
}
.zj-mobile__media-box.active{
	background-color: #FFEDCE;
}
.zj-mobile__media-box .weui-media-box__hd{
	text-align: left;
	height: 46px;
    line-height: 46px;
    overflow: hidden;
    width: 5em;
    padding-left: 16px;
}
.weui-media-box_appmsg .weui-media-box__hd{
	margin-right: 0;
}
.weui-panel__hd:after{
	left:0;
}
.zj-mobile__price{
    background-color: #ffffff;
}
.zj-mobile__price .zj-mobile__price-default{
	font-family: "FZDBSJW--GB1-0";
	font-size:1.2em;
	color:#FF6840;
}
.zj-mobile__price .zj-mobile__price{
	font-family: "PingFang-SC-Medium";
	font-size:.6em;
	color:#B7B7B7;
	text-decoration:line-through;
}
.zj-mobile__price .zj-mobile__price-s{
	font-family: "PingFang-SC-Heavy";
	font-size:.8em;
	color:#4A4A4A;
}
.zj-mobile__position-name{
	color: #7A8CF0;
}
.zj-mobile__submit{
	padding:20px 0;
}
.zj-mobile__color-area,.zj-mobile__amount-area{
	position: relative;
    width: 46px;
    height: 36px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
	float:left;
}
.zj-mobile__color-area em,.zj-mobile__amount-area em{
	width: 0;
	height: 0;
	position: absolute;
	bottom:-8px;
	right: 0;
    border-bottom: 6px solid #CCC9DF;
    border-left: 6px solid transparent;
    display: block;
}
.zj-mobile__amount-area{
	margin-left: 1em;
}
.zj-mobile__amount-area a{
	font-size:1.2em;
	font-family:Cambria;
	font-weight:bold;
	color:rgba(74,74,74,1);
}
.zj-mobile__media-box-price{
	position: relative;
	width: 3.2em;
}
.zj-mobile__media-box-price span{
	position: absolute;
	font-size: .7em;
	display: inline-block;
	width: 100%;
	text-align:center;
}
.zj-mobile__attribute-price-default{
    height: 54px;
    line-height: 54px;
    left: 0;
    top: -27px;
	color:rgba(74,74,74,.7);
	
}
.zj-mobile__attribute-price{
    height: 54px;
    line-height: 54px;
    right: 0;
    top: -27px;
    background-color: #FBFBFB;
    color: #4A4A4A;
}
.zj-mobile__media-box.active .zj-mobile__attribute-price{
	background-color: #FBE9CB;
}
.zj-mobile__label-checkbox{
	font-size: .8em;
}

/**====================分享样式======================*/
.zj-mobile__share-canvas{
	position: absolute;
	left: 0px; top: 0px; z-index: 999; width: 100vw; height: 100vh; text-align: center; background-color: rgba(0, 0, 0, 0.4);
}
.zj-mobile__share-box{
	width: 80%;
	height: 80%;
	margin: 20% auto 0;
	position: relative;
}
.zj-mobile__share-box img{
	width: 100% !important;
	height: 100% !important;
}
.zj-mobile__share-box span{
	position: absolute;
	width: 20px;
	height: 20px;
	top: 5px;
	right: 5px;
	display: block;
	color: #fff;
	background: url(../images/weui/close_share.png) no-repeat;
	background-size: contain;
}
.zj-mobile__share-tips{
	width: 100%;
	color:#ffffff;
	text-align: center;
	position: absolute;
	bottom:-30px;
}

/*============修改weui样式============*/
.weui-cells_radio .weui-check + .weui-icon-checked{
	color:rgba(0, 0, 0, 0.3);
	margin-right: .6em;
	width: 25px;
	height: 25px;
}
.weui-cells_radio .weui-icon-checked{
  color:rgba(0, 0, 0, 0.3);
  -webkit-mask-image:url("../images/weui/nochecked.png");
  mask-image:url("../images/weui/nochecked.png");
}
.weui-cells_radio .weui-check:checked + .weui-icon-checked{
  color:#4156C1;
  -webkit-mask-image:url("../images/weui/checked.png");
  mask-image:url("../images/weui/checked.png");
}


.weui-cells_checkbox .weui-icon-checked{
  color:rgba(0, 0, 0, 0.3);
  -webkit-mask-image:url(data:image/svg+xml,%3Csvg%20width%3D%221000%22%20height%3D%221000%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M500%20916.667C269.881%20916.667%2083.333%20730.119%2083.333%20500%2083.333%20269.881%20269.881%2083.333%20500%2083.333c230.119%200%20416.667%20186.548%20416.667%20416.667%200%20230.119-186.548%20416.667-416.667%20416.667zm0-50c202.504%200%20366.667-164.163%20366.667-366.667%200-202.504-164.163-366.667-366.667-366.667-202.504%200-366.667%20164.163-366.667%20366.667%200%20202.504%20164.163%20366.667%20366.667%20366.667z%22%20fill-rule%3D%22evenodd%22%20fill-opacity%3D%22.9%22%2F%3E%3C%2Fsvg%3E);
          mask-image:url(data:image/svg+xml,%3Csvg%20width%3D%221000%22%20height%3D%221000%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M500%20916.667C269.881%20916.667%2083.333%20730.119%2083.333%20500%2083.333%20269.881%20269.881%2083.333%20500%2083.333c230.119%200%20416.667%20186.548%20416.667%20416.667%200%20230.119-186.548%20416.667-416.667%20416.667zm0-50c202.504%200%20366.667-164.163%20366.667-366.667%200-202.504-164.163-366.667-366.667-366.667-202.504%200-366.667%20164.163-366.667%20366.667%200%20202.504%20164.163%20366.667%20366.667%20366.667z%22%20fill-rule%3D%22evenodd%22%20fill-opacity%3D%22.9%22%2F%3E%3C%2Fsvg%3E);
}
.weui-cells_checkbox .weui-check:checked + .weui-icon-checked{
  color:#4156C1;
  -webkit-mask-image:url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M12%2022C6.477%2022%202%2017.523%202%2012S6.477%202%2012%202s10%204.477%2010%2010-4.477%2010-10%2010zm-1.177-7.86l-2.765-2.767L7%2012.431l3.119%203.121a1%201%200%20001.414%200l5.952-5.95-1.062-1.062-5.6%205.6z%22%2F%3E%3C%2Fsvg%3E);
          mask-image:url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M12%2022C6.477%2022%202%2017.523%202%2012S6.477%202%2012%202s10%204.477%2010%2010-4.477%2010-10%2010zm-1.177-7.86l-2.765-2.767L7%2012.431l3.119%203.121a1%201%200%20001.414%200l5.952-5.95-1.062-1.062-5.6%205.6z%22%2F%3E%3C%2Fsvg%3E);
}

/*============================公共样式=============================*/
.hidden{
	display: none;
}