@charset "utf-8";

/* tag */
.default-tag a,.default-tag a span,.plus-tag a,.plus-tag a em,.plus-tag-add a{background:url(../images/tagbg.png) no-repeat;}
.tagbtn a{color:#333333;display:block;float:left;height:25px;line-height:25px;overflow:hidden;margin:0 10px 10px 0;padding:0 10px 0 5px;white-space:nowrap;}
/* default-tag */
.default-tag{padding:16px 0 0 0;}
.default-tag a{background-position:100% 0;}
.default-tag a:hover{background-position:100% -26px;}
.default-tag a span{padding:0 0 0 11px;background-position:0 -60px;}
.default-tag a:hover span{background-position:0 -98px;}
.default-tag a.selected{opacity:0.6;filter:alpha(opacity=60);}
.default-tag a.selected:hover{background-position:100% 0;cursor:default;}
.default-tag a.selected:hover span{background-position:0 -60px;}
/* plus-tag */
.plus-tag{padding:0 0 10px 0;}
.plus-tag a{background-position:100% -26px;}
.plus-tag a span{float:left;}
.plus-tag a em{display:block;float:left;margin:5px 0 0 8px;width:13px;height:13px;overflow:hidden;background-position:-165px -99px;cursor:pointer;}
.plus-tag a:hover em{background-position:-168px -63px;}
/* plus-tag-add */
.plus-tag-add ul,.plus-tag-add ul li{list-style:none;}
.plus-tag-add li{height:56px;position:relative;}
.plus-tag-add li .label{position:absolute;left:-110px;top:7px;display:block;}
.plus-tag-add button{float:left;}
.plus-tag-add a{float:left;margin:12px 0 0 20px;display:inline;font-size:14px;background-position:-289px -59px;padding:0 0 0 16px;}
.plus-tag-add a.plus{background-position:-289px -96px;}
.mui-bar {
	position: fixed;
	z-index: 10;
	right: 0;
	left: 0;
	height: 44px;
	padding-right: 10px;
	padding-left: 10px;
	border-bottom: 0;
	background-color: #f7f7f7;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .85);
	box-shadow: 0 0 1px rgba(0, 0, 0, .85);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}
.mui-bar-nav {
	top: 0;
	-webkit-box-shadow: 0 1px 6px #ccc;
	box-shadow: 0 1px 6px #ccc
}
.mui-bar .mui-title {
	right: 40px;
	left: 40px;
	display: inline-block;
	overflow: hidden;
	width: auto;
	margin: 0;
	text-overflow: ellipsis
}
.mui-title {
	font-size: 17px;
	font-weight: 500;
	line-height: 44px;
	position: absolute;
	display: block;
	width: 100%;
	margin: 0 -10px;
	padding: 0;
	text-align: center;
	white-space: nowrap;
	color: #000
}

.mui-title a {
	color: inherit
}
